#section-03.block.light-color.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo03/play.jpg')")
      .bg
  .row
    .column-1
      .spacing.sp-vertical.sp-md
      h2.serif.text-sm.center.anim.from-bottom.anim-zoom.from-far
        | Wouldn't it be great to give back adults
        br.hidden-xs
        |  the ability to take life as a game? 
      .spacing.sp-vertical.sp-md
      .col-sm-10.col-sm-offset-1.hidden-xs.chain-container
        .col-sm-8.chain-link.from-left.anim-slow.anim-easing(data-delay="1")
          p
            .btn.btn-round.btn-bordered.btn-white.btn-nolink.btn-md.btn-block.btn-withLgIcon
              span.steady.icon-heart.icon-left.icon-md
              | Got a date
        .col-sm-4.chain-link.anim-zoomOut.anim-fast-1.anim-easing(data-delay="5")
          .spacing.sp-sm
          p
            span.badge.badge-md.badge-circle.badge-transparent.badge-waves +8
        .col-sm-8.chain-link.from-left.anim-slow.anim-easing(data-delay="15")
          p
            .btn.btn-round.btn-bordered.btn-white.btn-nolink.btn-md.btn-block.btn-withLgIcon
              span.steady.icon-file.icon-left.icon-md
              | First job
        .col-sm-4.chain-link.anim-zoomOut.anim-fast-1.anim-easing(data-delay="19")
          .spacing.sp-sm
          p
            span.badge.badge-md.badge-circle.badge-transparent.badge-waves +30
        .col-sm-8.chain-link.from-left.anim-slow.anim-easing(data-delay="29")
          p
            .btn.btn-round.btn-bordered.btn-white.btn-nolink.btn-md.btn-block.btn-withLgIcon
              span.steady.icon-microwaveoven.icon-left.icon-md
              | Cooking pro
        .col-sm-4.chain-link.anim-zoomOut.anim-fast-1.anim-easing(data-delay="34")
          .spacing.sp-sm
          p
            span.badge.badge-md.badge-circle.badge-transparent.badge-waves +15
        .spacing.sp-vertical.sp-md
