#section6.block.container-fluid.block-wide.lightgray-bgcolor
  .row.portfolio.thumbs-wide
    //- .col-sm-2.center
    a.col-sm-12.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo03/board.jpg');")
        .bg
      .text-content
        .spacing.sp-sm
        .spacing.sp-xs
        h3.lined.light-color.title
          //- span.steady.icon-measure
          | Welcome To PlayGrown
        p
          .btn.btn-sm.btn-bordered.sans-2 Are you ready to play?
.accordion
  #acc-01.block.container-fluid.dark-bgcolor.light-color.accordion-container.acc-closed(style="background-image:url('assets/misc/demo03/background-icons.png');")
    .row
        .col-sm-10.col-sm-offset-1
          .spacing.sp-md
          //- h3
          //-   span.main-color.bold.uppercase.sans-2.text-sm Enter your email
          //-   br
          //-   span.serif-2.italic to stay tunned with us
          //- .spacing.sp-vertical.sp-sm
        .col-sm-10.col-sm-offset-1
          form.form-inline.form-big.center.form-bordered
            .form-group.align-left
              h3.title
                span.accent-color.bold.uppercase.sans-2.text-sm Enter your email
                br
                span.serif-2.italic.text-sm to stay tunned with us
              .sp-horizontal.sp-xs
            .form-group
              label.sr-only(for="") Your email
              input.form-control(placeholder="Type your email",type="email")
            button.btn.btn-md.serif.btn-bordered.btn-dark(type="submit") Sign up
          .spacing.sp-md