#section-01.header-block.block.light-color.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo03/triciclo.jpg')")
      .bg
  .row.anim.from-bottom.anim-zoom
    .column-1-stretch
      .spacing.sp-lg
      .spacing.sp-md
      img.img-full(src="assets/misc/demo03/fichas.png")
      .spacing.sp-vertical.sp-sm
      h2.serif
        | We improve humans
        br
        | through games
      .spacing.sp-vertical.sp-md
      p
        a.btn.btn-round.btn-bordered.btn-white.btn-md(href="#section-02",data-scrollTo="true") Tell me more
      .spacing.sp-lg