//- MOCKUP
#section4.block.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark.zoomClass(style="background-image:url('assets/misc/demo03/colossus.jpg');")
      .bg
  .row
    .column-1.center.white-color.from-top.anim-far.anim-slow.anim
      .spacing.sp-lg
      h2.paragraph.text-sm What could we reach
        br
        | if we had no fear
        br
        | of rejection or loss
      hr.hr-xs.hr-accent
      .spacing.sp-vertical.sp-lg
      //- img.img-full(src="assets/images/ipad-white.png",alt="")