#section-02.block.center.container-fluid.dark-color.light-bgcolor
  .col-sm-5.bg-fixed.fl-right.slice-corner.slice-light
    .background-full.img-float(style="background-image:url('assets/misc/demo03/niño.jpg');")
  .col-sm-7.col-sm-offset-5.align-left
    .col-sm-11.col-sm-offset-1
      .spacing.sp-lg
      h2.sans-2.uppercase.bold.italic We improve humans
        br
        | through games
      hr.hr-xs.hr-accent
      .spacing.sp-xs
      p.serif.text-lg Humans use games to simulate and learn because failure doesn't exist in games reality: there is the challenge, the try before the try before the success.
      .spacing.sp-lg
      a.icon-link(href="#section-03",data-scrollTo="true")
        span.fa.fa-chevron-down.fa-lg