//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .col-sm-8
        p.text-small.center © 2015 Galisteo
          | · 
          a.light-color(href="") Privacy 
          | · 
          a.light-color(href="") Contact
      a.btn.btn-block.btn-main-dark.col-sm-4.btn-square(href="")
        h4
          span.sans-2.bolder Write Us
          span.icon-right.glyphicon.glyphicon-chevron-right
