nav.navbar
  .container-fluid
    //- Brand and toggle
    .navbar-header
            a.navbar-brand(href="#")
              img.brand(src="assets/misc/demo05/logo.png",alt="")
    .collapse.navbar-collapse.sans.uppercase
      ul.nav.navbar-nav.navbar-right
        li
          a.gray-color.link(href="")
            span.fa.fa-instagram.fa-2x
        li
          a.gray-color.link(href="")
            span.fa.fa-pinterest.fa-2x
        li
          a.gray-color.link(href="")
            span.fa.fa-twitter.fa-2x
        li
          a.gray-color.link(href="")
            span.fa.fa-behance.fa-2x
        li
          a.gray-color.link(href="")
            span.fa.fa-dribbble.fa-2x
        li
          a.gray-color.link(href="")
            span.fa.fa-facebook.fa-2x
        li
          a.gray-color.link(href="")
            span.fa.fa-vimeo.fa-2x
    ul.nav.navbar-nav.navbar-right.visible-xs
      li
        a.light-color.link(href="#",data-toggle="sidebar")
          i.fa.fa-bars.fa-2x
  //- .container-fluid.center
  //-   .collapse.navbar-collapse.sans.uppercase
  //-     //- Left menu
  //-     ul.nav.navbar-nav.nav-centered
  //-       li
  //-         a.dark-color(href="#")
  //-           span Works
  //-       li
  //-         a.dark-color(href="#")
  //-           span Shop
  //-       li
  //-         a.dark-color(href="#")
  //-           span Contact
   