//- FOOTER
footer
  .block.container-fluid.block-wide.light-color
    //- FIRST FOOTER
    #mainfooter.row.main-bgcolor.withmap.portfolio.thumbs-wide
      .col-sm-3.thumb
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          ul.list
            li
              p.uppercase.text-md
                a(href="") Home
            li
              p.uppercase.text-md
                a(href="") Reefer&food
            li
              p.uppercase.text-md
                a(href="") Servicios
            li
              p.uppercase.text-md
                a(href="") Contacto
      .col-sm-3.thumb
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          p.uppercase Contacta con nosotros

          p Calle del Doctor Lluch
            br
            | 16, bajo
            br
            | Valencia (Spain)
          br 
          p Teléfono
            br
            | 978 035 035

      .col-sm-3.thumb
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          p Correo electrónico
          p 
            a(href="mailto:info@reefer-food.com") info@reefer-food.com
          br
          p Síguenos en
          p
            a(href="")
              i.fa.fa-linkedin.fa-2x
            a(href="")
              i.fa.fa-facebook.fa-2x

      .col-sm-3.thumb
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          p Suscríbete a nuestro
            br
            | NEWSLETTER
          .spacing.sp-sm

          form.box-form
            .input-group
              input.form-control(type="text",placeholder="")
      .spacing.sp-lg
    //- SECOND FOOTER
    .row#subfooter
      .col-sm-1
      .col-sm-2
        p © 2015, reefer&food
      .col-sm-2
        p
          a(href="") Política de privacidad
      .col-sm-2
        p
          a(href="") Política de cookies
      .col-sm-2.hidden-xs
      .col-sm-3
        p Developed by 
          a(href="") Artvisual
