//- FOOTER
footer
  .block.container-fluid.block-wide.light-color
    //- FIRST FOOTER
    #mainfooter.row.dark-bgcolor.withmap.portfolio.thumbs-wide
      .col-sm-4.thumb.darker
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          h3.uppercase Cantisa
          .spacing.sp-sm
          ul.list
            li
              p.text-md
                a(href="") Quiénes somos
            li
              p.text-md
                a(href="") Productos
            li
              p.text-md
                a(href="") Noticias
            li
              p.text-md
                a(href="") Contacto
            li
              p.text-md
                a(href="") Aviso legal

      .col-sm-4.thumb
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          h3.uppercase Contacto
          .spacing.sp-sm
          ul.list
            li
              p.text-md
                a(href="") Quiénes somos
            li
              p.text-md
                a(href="") Productos
            li
              p.text-md
                a(href="") Noticias
            li
              p.text-md
                a(href="") Contacto
            li
              p.text-md
                a(href="") Aviso legal
      .col-sm-4.thumb.darker
        .spacing.sp-md
        .col-sm-8.col-sm-offset-2
          h3.uppercase Síguenos
          .spacing.sp-sm

          form.box-form
            .input-group
              input.form-control(type="text",placeholder="Busca algo")
              span.input-group-btn
                button.btn.btn-main(type="button")
                  span.fa.fa-search
          .spacing.sp-sm   
          ul.list.list-horizontal
            li
              a.btn.btn-main Like
            li
              a.btn.btn-main g+
    .spacing.sp-lg