#buscador
  .block.block-stretch.container-fluid.gray-bgcolor
    .row
      .col-sm-8
        .row
          .col-sm-4.align-right
            h4.title
              span.dark-color.bold.text-sm Encuentra tu producto
          .col-sm-8
            form.box-form.form-sm
              .input-group
                input.form-control(type="text",placeholder="Referencia producto")
                span.input-group-btn
                  button.btn.btn-dark(type="button")
                    span.fa.fa-search
      .col-sm-4.align-right
        ul.list.list-horizontal
          li
            p.bold ¿No lo encuentras?
          li
            .btn.btn-lightgray Preguntar