.sidebar.main-bgcolor
  .close-view.light-color
    a.sans(href="#",data-toggle="sidebar") +
  .block
    .row
      .col-xs-12.center
        //-.brand
          img.img-full(src="assets/misc/demo06/logo.png")
        .spacing.sp-md
        .side-menu
          ul#main-nav.main-nav.nav-menu.nav-lined.light-color.align-left
            li
              a(href!="<?php echo get_site_url(); ?>",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic Home
            li
              a(href!="<?php echo get_site_url(); ?>/servicios",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic Servicios
            li
              a(href!="<?php echo get_site_url(); ?>/contacto",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic Contacto
            li
              a(href!="<?php echo get_site_url(); ?>/blog",target="_blank")
                p.sans-2.uppercase.italic Blog
            li
              a(href!="<?php echo get_site_url(); ?>/tracking")
                p.sans-2.uppercase.italic Tracking