.sidebar.dark-bgcolor
  .close-view.light-color
    a.sans(href="#",data-toggle="sidebar") +
  .block
    .row
      .col-xs-12.center
        //-.brand
          img.img-full(src="assets/misc/demo06/logo.png")
        .spacing.sp-md
        .side-menu
          ul#main-nav.main-nav.nav-menu.nav-lined.light-color.align-left
            li
              a(href="/quienes",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic Quiénes somos
            li
              a(href="/productos",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic Productos
            li
              a(href="/noticias",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic Noticias
            li
              a(href="/contacto",target="_blank")
                p.sans-2.uppercase.italic Contacto
            li
              a(href="/")
                p.sans-2.uppercase.italic Busca un producto