//- BANNER TOP
#topbanner.block.white-color.center.container-fluid.block-full
  .bg-fixed
    .background-full.zoomClass.bg-texture(style="background-image:url('assets/misc/demo08/pool.jpg');")
      .bg
  .row
    .column-1-stretch
      .spacing.sp-vertical.sp-lg
      h2.sans-2.from-top.anim-slow.anim-far.anim No te cumpliques la vida, dedica tu tiempo a cosas más importantes y déjanos el resto.
      .spacing.sp-vertical.sp-md
  .quote.quote-fullwidth.bg-alpha-dark
    h3.sans-2.from-left.anim-slow.anim-far.anim Mándanos un SMS para pedir 
      span.accent-color cualquier 
      | cosa al siguiente numero de teléfono
  .quote.quote-fullwidth.bg-alpha-dark.quote-number
    .column-1-stretch.from-bottom.anim-slow.anim-far.anim
      h1.sans-2.text-lg.bolder 83489
      p.sans-2.text-sm.uppercase *Sin coste añadido
      .spacing.sp-vertical.sp-sm

//- BLOCK 2
.block.container-fluid.white-bgcolor
  .row
    .col-sm-5.bg-fixed.slice-corner.slice-light
      .background-full.img-float(style="background-image:url('assets/misc/demo08/operator.jpg');")
    .col-sm-7.col-sm-offset-5.from-right.anim
      .col-sm-11.col-sm-offset-1
        h2.sans-2 ¿Cómo funciona Emoconect?
        p Tenemos operadores conectados las 24 horas del dia para responder a todas y cada una de sus peticiones. Mándanos un sms y te conseguiremos lo que necesites. Tus peticiones serán atendidas por los proveedores adecuados (restaurantes, floristerías, agencias de viajes) para que te lleguen directamente gracias a Emoconect.
        h3
          a.btn.btn-dark.btn-bordered.icon-show.btn-md.italic.sans-2(href="#history",data-scrollTo="true") ¿Quieres saber más?
            span.icon-right.fa.fa-chevron-right

.block.container-fluid.main-bgcolor(style="background-image:url('assets/misc/demo06/blue-icons.png');")
  .row
    .iphone-column.col-sm-4.center
      .spacing.sp-sm
      .iphone-case
        img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        img.screenshot.img.img-full(src="assets/misc/demo08/screen1.png")
    .iphone-column.col-sm-4.center
      .spacing.sp-sm
      .iphone-case
        img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        img.screenshot.img.img-full(src="assets/misc/demo08/screen2.png")
    .iphone-column.col-sm-4.center
      .spacing.sp-sm
      .iphone-case
        img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        img.screenshot.img.img-full(src="assets/misc/demo08/screen3.png")

#history.study.block.container-fluid.posts-block.lightgray-bgcolor(style="background-image:url('assets/misc/demo06/gray-icons.png');")
  .bg-fixed
    .background-full.zoomClass(style="background-image:url('assets/misc/demo08/desktop.jpg')")
  .row
    .col-sm-12.center
      a.btn.btn-gradient.btn-accent.btn-sm(href="#")
        h3.lowercase.light-color.sans-2 Preguntas frecuentes
      .spacing.sp-md
    .study-1.col-sm-8.col-sm-offset-2.light-bgcolor.dark-color
      .block
        p.accent-color.sans-2.lined-sm.text-lg No lo entiendo - ¿Qué me aporta Emoconect?
        p.lighter Nuestra filosofía es ser tu aspirina virtual para quitar tus dolores de cabeza y solucionar tus problemas.
        p.lighter Hemos formado a nuestros empleados para atender a tus peticiones y se te plantearan soluciones apropiadas. 
        p.lighter Procesamos tus peticiones y deseos de la misma forma que lo harias tu, ya sea reservar un restaurante, pedir comida a domicilio, reservar vuelos o hoteles... lo que necesites! 
        p.lighter Buscamos informaciones , hacemos llamadas, analizamos las criticas y portales de comparación. Así te evitamos los procesos de reserva ahorrándote tiempo y ofreciendote la mejor solución. 
        p.lighter Hacemos que el acceso a servicios y productos sea posible mediante un simple SMS (sin coste adicional) para que puedas conseguir lo que quieras, cuando quieras y donde quieras.
        .spacing.sp-xs
        p.accent-color.sans-2.lined-sm.text-lg En serio, ¿para qué tipo de cosas usaría Emoconect?
        p.lighter Cualquier cosa que necesites siempre que sea legal! De verdad, pruebalo!
        .spacing.sp-xs
        p.accent-color.sans-2.lined-sm.text-lg ¿Cuánto tiempo tardaré en recibir mi petición?
        p.lighter Lo antes posible
        .spacing.sp-xs
        p.accent-color.sans-2.lined-sm.text-lg ¿Cuánto cuesta Emoconect?
        p.lighter Contactar con nuestro equipo es completamente gratis. Cuando realices un pedido se te comunicara el precio total para recibir confirmación antes de enviarte la factura. No hay precios ocultos y costes adicionales
        .spacing.sp-xs
        p.accent-color.sans-2.lined-sm.text-lg ¿Cuáles son los métodos de pago y cómo sabéis donde enviar los pedidos, etc?
        p.lighter En tu primer pedido se te enviara un enlace de pago al que accederas a nuestro socio PayPal. Te pediremos que rellenes la información necesaria como tu dirección, las tarjetas de créditos etc. para procesar el pedido. También se te ofreciera la opción de guardar la información para facilitar futuros pedidos.
        .spacing.sp-xs
        p.accent-color.sans-2.lined-sm.text-lg ¿Cómo se que es seguro?
        p.lighter Se te enviara un SMS conteniendo un enlace HTTPS de 128-bit encryptado al que podras acceder mediante un click para rellenar tu informacion de pago. Todos los pagos se procesaran mediante nuestro socio PayPal.
        .spacing.sp-xs
        p.accent-color.sans-2.lined-sm.text-lg ¿Dónde funciona Emoconect?
        p.lighter En cualquier sitio de España.

#lastblock.block.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark.zoomClass(style="background-image:url('assets/misc/demo08/phone.jpg');")
      .bg
  .row
    .column-1.center.white-color.from-top.anim-far.anim-slow.anim
      .spacing.sp-vertical.sp-sm
      p.sans-2.text-lg.uppercase.lined Empieza a usar Emoconect ahora 
      h3.sans-2.text-lg Envíanos un mensaje con tu petición al
      h1.text-lg.bolder.sans-2 88442