//- BANNER TOP
.block.container-fluid.center.main-bgcolor.block-full
  .bg-img.bg-center.bg-bottom#clouds.zoomClass
    img(src="assets/misc/demo06/clouds.png",alt="")
  .bg-img.bg-center.bg-bottom#characters
    img(src="assets/misc/demo06/characters.png",alt="")
  .row
    .column-1
      .spacing.sp-xxl
      h2.white-color Creamos 
        span.accent-color mundos digitales 
        | para los juguetes del siglo XXI

//- BLOCK 2
.block.container-fluid.center.white-bgcolor
  .bg-img.bg-right.bg-bottom#robots
    img(src="assets/misc/demo06/robots.png",alt="")
  .row
    .column-1
      h2.dark-color Somos una agencia digital especializada en el universo infantil
      p Nuestros clientes fabrican juguetes para una generación de niños que han aprendido a leer, comunicarse y jugar a través de pantallas.
      p Es la generación de nativos digitales.

//- BLOCK 3
.block.container-fluid.main-bgcolor
  .row
    .col-sm-7
      h2.white-color Diseñamos 
        span.accent-color aplicaciones
        |, 
        span.accent-color experiencias interactivas 
        | y 
        span.accent-color estrategias online
      p.white-color Ayudamos a las empresas jugueteras a enriquecer la experiencia de juego de sus juguetes con las posibilidades casi ilimitadas del universo digital.
    .col-sm-5.col-sm-offset-7.background-full.img-float.fl-right.pd-lg.center(style="background-image:url('assets/misc/demo06/texture.png');")
      img.img-full(src="assets/misc/demo06/screens.png",alt="")

//- BLOCK 4
.block.lightgray-bgcolor.container-fluid.icons-block
  .row
    //- p.text-lg.serif-2.center
    //-   i Nuestra vocación es resultarte de utilidad, marcar un antes y un después en tu empresa, por eso te ofrecemos un servicio de calidad ajustado a tus necesidades
    //- .spacing.sp-vertical.sp-sm.visible-xs
    .col-sm-6.icon-block.dark-color.icon-bgcolor.icon-fullcolor.lightgray-bgcolor
      .icon-container.pink-bgcolor.from-center.anim-far.anim-slow.anim
        img.anim.anim-rotate(src="assets/misc/demo06/learning.png")
      .text-container
        p.text-lg.bolder
          | Juegos y apps
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p 
          .btn.btn-bordered.uppercase.bold.btn-dark.icon-show.btn-stretch Pide presupuesto
            span.icon-right.fa.fa-star
    .col-sm-6.icon-block.dark-color.icon-bgcolor.icon-fullcolor.lightgray-bgcolor
      .icon-container.green-bgcolor.from-center.anim-far.anim-slow-2.anim
        img.anim.anim-rotate(src="assets/misc/demo06/reading.png")
      .text-container
        p.text-lg.bolder
          | Promo sites
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p 
          .btn.btn-bordered.uppercase.bold.btn-dark Pide presupuesto
  .row
    .col-sm-6.icon-block.dark-color.icon-bgcolor.icon-fullcolor.lightgray-bgcolor
      .icon-container.blue-bgcolor.from-center.anim-far.anim-slow.anim
        img.anim.anim-rotate(src="assets/misc/demo06/mecano.png")
      .text-container
        p.text-lg.bolder
          | E-commerce
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p 
          .btn.btn-bordered.uppercase.bold.btn-dark Pide presupuesto
    .col-sm-6.icon-block.dark-color.icon-bgcolor.icon-fullcolor.lightgray-bgcolor
      .icon-container.purple-bgcolor.from-center.anim-far.anim-slow-4.anim
        img.anim.anim-rotate(src="assets/misc/demo06/twitter.png")
      .text-container
        p.text-lg.bolder
          | Social media
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p 
          .btn.btn-bordered.uppercase.bold.btn-dark Pide presupuesto

//- BLOCK 5

.block.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark.zoomClass(style="background-image:url('assets/misc/demo03/board.jpg');")
      .bg
  .row
    .column-1.center.white-color.from-top.anim-far.anim-slow.anim
      h1 Casos de éxito
      .spacing.sp-vertical.sp-sm
      //- img.img-full(src="assets/images/ipad-white.png",alt="")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris

//- BLOCK 6
.block.container-fluid.main-bgcolor(style="background-image:url('assets/misc/demo06/blue-icons.png');")
  .row
    .iphone-column.col-sm-4.center
      .btn.btn-main-dark.btn-icon
        img(src="assets/misc/demo06/crack.png")
      .spacing.sp-sm
      .spacing.sp-sm
      .iphone-case
        img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        img.screenshot.img.img-full(src="assets/misc/demo06/crack-screen.png")
    .iphone-column.col-sm-4.center
      .btn.btn-main-dark.btn-icon
        img(src="assets/misc/demo06/hello.png")
      .spacing.sp-sm
      .spacing.sp-sm
      .iphone-case
        img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        img.screenshot.img.img-full(src="assets/misc/demo06/hello-screen.png")
    .iphone-column.col-sm-4.center
      .btn.btn-main-dark.btn-icon
        img(src="assets/misc/demo06/huelli.png")
      .spacing.sp-sm
      .spacing.sp-sm
      .iphone-case
        img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        img.screenshot.img.img-full(src="assets/misc/demo06/huelli-screen.png")

//- BLOCK 7: INFORME
.study.block.container-fluid.posts-block.lightgray-bgcolor(style="background-image:url('assets/misc/demo06/gray-icons.png');")
  .bg-fixed
    .background-full.zoomClass(style="background-image:url('assets/misc/demo06/exteriorday.png')")
  .row
    .col-sm-12.center
      a.btn.btn-gradient.btn-orange.btn-sm(href="http://google.com",data-toggle="sidebar")
        h3.lowercase.light-color La oportunidad
      .spacing.sp-md
    .study-1.col-sm-8.col-sm-offset-2.light-bgcolor.dark-color
      .block
        h3.lined-sm El sector del juguete en España
        p.lighter Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat...
        .spacing.sp-sm
        .btn.btn-bordered.btn-accent.btn-sm.bolder.text-overflow Descarga el informe completo
    .study-2.col-sm-9.col-sm-offset-2.dark-color
      .col-sm-4.hidden-sm
        img.img-full(src="assets/misc/demo03/triciclo.jpg")
        .spacing.sp-sm
        p.lined-sm.hidden-xs Evolución de lorem ipsum dolor sit amet
      .col-md-7.col-sm-12.lightgray-bgcolor
        .block
          h3.lined-sm "It's not only about beauty, it's about function."
          p.lighter Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in rep.
  .study-3.row.row-graphic.yellow-bgcolor
    .col-sm-10.col-sm-offset-1.dark-color
      img.img-full(src="assets/misc/demo06/graphic.png")
  .study-4.row.lightgray-bgcolor
    .col-sm-8.col-sm-offset-2
      .portfolio.thumbs-wide
        //- .col-sm-2.center
        a.col-sm-12.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
          .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo03/board.jpg');")
            .bg
          .text-content
            .spacing.sp-sm.hidden-xs
            .spacing.sp-xs.hidden-xs
            h3.light-color.title
              //- span.steady.icon-measure
              | Descarga nuestro informe completo
              span.fa.fa-download.btn-circle
            .spacing.sp-sm.hidden-xs
            .spacing.sp-xs.hidden-xs
