//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- FIRST FOOTER
    .row.dark-bgcolor#mainfooter.withmap
      .col-sm-8
        .col-sm-3.col-sm-offset-1
          //- h3.accent-color Big Band
          img.brand(src="assets/images/logo-bigband.png")
        .col-sm-3
          p.text-small Stay connected
          p.social-icons
            a(href="")
              span.fa.fa-facebook
            a(href="")
              span.fa.fa-twitter
            a(href="")
              span.fa.fa-github
            a(href="")
              span.fa.fa-instagram
            a(href="")
              span.fa.fa-dribbble
            a(href="")
              span.fa.fa-wordpress
        .col-sm-4
          p.text-small Get in touch
          p.sans.small Upstyle training center
            | Av. Reino de Valencia 55 bjo.
            | 46005 Valencia
            | Fijo (Fernando) : 96 344 63 44
            | Móvil (Raquel) : 600 599 616
            | info@upstylecenter.com
      .col-sm-4.map.background-full(style="background-image:url('assets/images/map.png')")
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .col-sm-8
        p.text-small.center © 2015 Big Band. Big Band Theme by 
          a.accent-color(href="") A Band of Pirates
          | · 
          a.light-color(href="") Privacy
          | · 
          a.light-color(href="") Contact
      a.btn.btn-block.btn-main-dark.col-sm-4.btn-square(href="")
        h4
          span.sans.bolder Create your story
          span.icon-right.glyphicon.glyphicon-chevron-right
