.container.accent-bgcolor
  .row
    img(src="",alt="")
    h1 Style Guide
  .row
    h3.serif 1. Branding
  .row
    h3 2. Typography
    h4 Serif
    h1.giant.serif Mega titles for headers
    h1.serif Big titles for headers
    h2.serif Alternative highlighted title for headers
    h3.serif Another version slightly smaller
    h4.serif Another kind of title with another font
    h5.serif This size is for small messages and captions
    h6.serif Another kind of subtitle and small caption
    p.serif Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    p.small.serif Text for buttons and other small elements
    hr
    h4 Sans
    h1.giant.sans Mega titles for headers
    h1.sans Big titles for headers
    h2.sans Alternative highlighted title for headers
    h3.sans Another version slightly smaller
    h4.sans Another kind of title with another font
    h5.sans This size is for small messages and captions
    h6.sans Another kind of subtitle and small caption
    p.sans Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    p.small.sans Text for buttons and other small elements
    hr
    h4 Sans 2
    h1.giant.sans-2 Mega titles for headers
    h1.sans-2 Big titles for headers
    h2.sans-2 Alternative highlighted title for headers
    h3.sans-2 Another version slightly smaller
    h4.sans-2 Another kind of title with another font
    h5.sans-2 This size is for small messages and captions
    h6.sans-2 Another kind of subtitle and small caption
    p.sans-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    p.small.sans-2 Text for buttons and other small elements
  .row
    h3 3. Colours
  .row
    h3 4. buttons


