//- PORTFOLIO
.block.container-fluid.block-wide.lightgray-bgcolor
  .row.portfolio.thumbs-wide.thumbs-spaced
    .spacing.sp-lg
    a.col-xs-12.col-sm-3.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo05/1.jpg');")
        .bg
      .text-content
        .spacing.sp-md
        p.light-color.sans 
          span.uppercase.bold Longbearded
          br
          span Personal Project
    a.col-xs-12.col-sm-3.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo05/2.jpg');")
        .bg
      .text-content
        .spacing.sp-md
        p.light-color.sans 
          span.uppercase.bold Longbearded
          br
          span Personal Project
    a.col-xs-12.col-sm-3.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo05/3.jpg');")
        .bg
      .text-content
        .spacing.sp-md
        p.light-color.sans 
          span.uppercase.bold Longbearded
          br
          span Personal Project
    a.col-xs-12.col-sm-3.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo05/4.jpg');")
        .bg
      .text-content
        .spacing.sp-md
        p.light-color.sans 
          span.uppercase.bold Longbearded
          br
          span Personal Project
    a.col-xs-12.col-sm-3.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo05/4.jpg');")
        .bg
      .text-content
        .spacing.sp-md
        p.light-color.sans 
          span.uppercase.bold Longbearded
          br
          span Personal Project