.block.block-wide.container-fluid.block-carousel.white-bgcolor
  .row
    .col-sm-12
      #myCarousel.carousel.slide(data-ride='carousel',data-interval="false")
        //-
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            |         
            li(data-target='#myCarousel', data-slide-to='1')
            |         
            li(data-target='#myCarousel', data-slide-to='2')     
        .carousel-inner(role='listbox')
          .item.active
            .col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
              .col-sm-6
                .img.background-full(style="background-image:url('assets/misc/demo02/section-04.jpg');")
              .col-sm-6
                .contents
                  h3.sans-2.bold Customized creative design
                  p At GALISTEO, our Interior Design Program is organized as a multi-phase iterative process, with each successive phase milestone narrowing towards a single holistic design solution.
                  .spacing.sp-vertical.sp-sm
                  //-
                    p
                      a.btn.btn-stretch.btn-bordered.btn-dark.btn-md.icon-show(href='#myCarousel', data-slide='next') Continue reading
                        span.icon-right.fa.fa-chevron-right
                  .carousel-caption
                    
                
          .item
            .col-sm-8.col-sm-offset-2
              .col-sm-6
                .img.background-full(style="background-image:url('assets/misc/demo02/section-05.jpg');")
              .col-sm-6
                .contents
                  h3.sans-2.bold
                  p At each step in the design process, our preferred supplier for design DesignworksUSA (BMW Group) uses a combination of 2D and 3D design tools to explore, define and recommend a clear and appropriate design solution for the intended Government unique flight missions, cultural perspective and expectations of a premium passenger experience at every touch point.
                  .spacing.sp-vertical.sp-sm
                  //-
                    p
                      a.btn.btn-stretch.btn-bordered.btn-dark.btn-md.icon-show(href='#myCarousel', data-slide='next') Continue reading
                        span.icon-right.fa.fa-chevron-right
                  .carousel-caption
                    //- Without caption
          .item
            .col-sm-8.col-sm-offset-2
              .col-sm-6
                .img.background-full(style="background-image:url('assets/misc/demo02/section-06.jpg');")
              .col-sm-6
                .contents
                  h3.sans-2.bold
                  p Although the interior of an aircraft defines the needs of its user, the exterior makes the first impression. An appropriate exterior design should suitably express and reflect the personality of a Head of State while maintaining the essence of aerodynamic movement. DesignworksUSA (BMW Group) provides different exterior design proposals seamlessly connected with the interior design so that the whole aircraft is seen as one unique unit.
                  .spacing.sp-vertical.sp-sm
                  //-
                    p
                      a.btn.btn-stretch.btn-bordered.btn-dark.btn-md.icon-show(href='#myCarousel', data-slide='next') Continue reading
                        span.icon-right.fa.fa-chevron-right
                  .carousel-caption
                    //- Without caption
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.sr-only Previous
          .img.background-full(style="background-image:url('assets/images/background-full.png');")
          .btn.btn-block.btn-dark.btn-square
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.sr-only Next
          .img.background-full(style="background-image:url('assets/images/background-full.png');")
          .btn.btn-block.btn-dark.btn-square
            span.sans.light-color.hidden-sm Next element
            span.icon-right.glyphicon.glyphicon-chevron-right(aria-hidden='true')