#slickslide.block.block-wide.container-fluid.dark-color.slide-block
  .sl-slide.background-full(style="background-image:url('assets/misc/demo02/section-04.jpg');")
    .col-md-7.col-md-offset-5.col-sm-8.col-sm-offset-4
      .contents.light-bgcolor
        h3.serif-2.italic.bold.text-sm.lined 定制的 创新设计
        p.text-md 在加利斯特奥，我们的内部设计方案被组织为一个多阶段的迭代过程，每个成功阶段缩小为一个单一的整体设计方案。
        .spacing.sp-vertical.sp-sm
  .sl-slide.background-full(style="background-image:url('assets/misc/demo02/section-05.jpg');")
    .col-md-7.col-md-offset-5.col-sm-8.col-sm-offset-4
      .contents.light-bgcolor
        p.text-md 在设计过程的每一步，我们的首选供应商宝马集团美国设计公司（DesignworksUSA (BMW Group)）结合使用2D和3D设计工具，确定和推荐一个明确且恰当的设计方案，以适应政府独特的飞行任务，以及一个高端旅客的文化视角和在每一个接触点的体验期望。
        .spacing.sp-vertical.sp-sm
  .sl-slide.background-full(style="background-image:url('assets/misc/demo02/section-06.jpg');")
    .col-md-7.col-md-offset-5.col-sm-8.col-sm-offset-4
      .contents.light-bgcolor
        p.text-md 虽然飞机的内部定义了用户的需要，飞机的外部还是决定了客户的第一印象。一个适当的外观设计，应该适当的表达和反映一个国家元首的个性，同时遵循空气动力学原理。宝马集团美国设计公司（DesignworksUSA (BMW Group)）提供不同的外观设计方案，与室内设计无缝连接,使整个飞行器成为一个独特的整体。 
        .spacing.sp-vertical.sp-sm

  