.block.container-fluid.center.lightgray-bgcolor
  //- BACKGROUND IMAGE, must be placed inside ".bg-img" container for absoute position and positioned with ".bg-right" ".bg-top", etc. 
  .bg-img.bg-left.bg-top.from-left.anim-slow.anim-far.anim
    img(src="assets/misc/demo02/planeline2.png",alt="")
  .bg-img.bg-right.bg-bottom.from-right.anim-slow.anim-far.anim
    img(src="assets/misc/demo02/planeline.png",alt="")
  .column-1
    p 由于拥有沟通良好的国际网络，加利斯特奥无限航空公司（GALISTEO Infinite Aviation）提供飞机探测快速解决方案。应客户的要求，加利斯特奥无限航空公司管理定位飞机过程的每一个步骤，并为客户提供一系列的不同选择。
    p 因为在加利斯特奥我们知道，当一个政府表示需要使用一架国家元首飞机，这个解决方案必须在尽可能短的时间内提供。这就是为什么我们日以继夜的努力，保持不断更新的数据库，记载世界范围内的所有宽、窄体飞机。