//- PORTFOLIO
.block.container-fluid.lightgray-bgcolor
  .row.center
    h2.sans-2.bold.line-between.dark-color 更多信息
.block.container-fluid.block-wide.lightgray-bgcolor
  .row.portfolio.thumbs-wide
    //- .col-sm-2.center
    a.col-sm-4.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo02/section-01.jpg');")
        .bg
      .text-content
        h3.lined.light-color.title
          span.steady.icon-measure
          | 大部件的制造
        p
          .btn.btn-sm.btn-bordered 阅读
    a.col-sm-4.blue-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-02")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo02/section-04.jpg');")
        .bg
      .text-content
        h3.lined.light-color.title
          span.steady.icon-screen
          | 娱乐系统 与连接
        p
          .btn.btn-sm.btn-bordered 阅读
    a.col-sm-4.blue-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-03")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo02/section-03.jpg');")
        .bg
      .text-content
        h3.lined.light-color.title
          span.steady.icon-refresh
          | 全部 生命周期支持
        p
          .btn.btn-sm.btn-bordered 阅读
    //- .col-sm-2.center
.accordion
  #acc-01.block.container-fluid.white-bgcolor.dark-color.accordion-container.acc-closed
    .row
      .column-1.acc-content
        h2.sans-2 零件和
          br
          span.accent-color.bold.uppercase 大部件的制造
        p 为了把一个特殊的国家元首飞机的内部设计变为真正惊人且独特的乘客体验，至关重要的是，按照原有设计方案标出的确切规格，生产每一个零件和大部件。

        p 只有拥有最先进的技术，并应用在飞机零件和大部件的制造上，才能保证最终产品与一个政府航空器的超豪华预期相吻合。

        p 加利斯特奥无限航空公司（GALISTEO Infinite Aviation）只使用最好的材料，和全球最负盛名的公司，以及由专业人士和技术人员组成的高素质团队一起，进行零件和大部件的生产。因此总是不断达到并超越最高的质量标准。
  #acc-02.block.container-fluid.white-bgcolor.dark-color.accordion-container.acc-closed
    .row
      .column-1.acc-content
        h2.sans-2 娱乐系统
          br
          span.accent-color.bold.uppercase 与连接
        p 因为您的办公室一直与您在一起飞翔，加利斯特奥无限航空公司（GALISTEO Infinite Aviation）在一个开放的模块化航空电子平台上，提供可靠的、量身定制且负担得起的，顶尖连接服务，从全程的增强现场总线（EFB）到飞行器连接以及无线矩阵（Wireless IFE）。

        p.bold.sans-2 飞行中的无线娱乐
        p 享受下一代先进（NGA）的无线矩阵系统，将最新的技术在硬件和软件两个方面结合，提供一种超轻，高性能，多复联无线矩阵系统（Wireless IFE），使100%的乘客可以同时使用。

        p.bold.sans-2 飞行器连接 – 在地面和飞行中
        p 总是与您的航空器保持联系。在地面时，通过地面连接解决方案与飞机连接（USB，蓝牙，WiFi，WiMAX）。在飞行中，通过飞行连接解决方案（L波段即时消息， Ku/ Ka全互联网服务）。

        p.bold.sans-2 增强电子飞行包
        p 发现我们的负担得起的，可扩展的并经过认证的2级/ 3 级现场总线系统（EFB）。这一系统可以选择性地将飞机工程数据和后台进程结合，同时通过Iridium®实现真正的实时连接®。

  #acc-03.block.container-fluid.white-bgcolor.dark-color.accordion-container.acc-closed
    .row
      .col-sm-6.acc-content
        h3.sans-2 全部
          br
          span.accent-color.bold.uppercase 生命周期支持
        p 对于大多数超级VIP飞行器拥有者的一个主要问题，是如何保持操作能力的同时，提高可用性和成本效益。

        p 伊比利亚应对这一挑战，是通过一个完整的一揽子组合，在世界范围内提供“全生命周期的支持”。经验丰富的团队在飞机维修和AOG服务上在全球提供保障。
      .col-sm-6.acc-content
        h3.sans-2 生产
          br
          span.accent-color.bold.uppercase 商店
        p 感谢我们的合作伙伴伊比利亚公司，加利斯特奥无限航空公司（GALISTEO Infinite Aviation）得以在马德里拥有共计15万平方米的处所，这使我们可以提供全方位的飞机维修服务。这些设施包括必要的后备商店为宽体和窄体提供服务。
        p 拥有高素质的专业技术人员队伍，伊比利亚今天是质量，保证和承诺的代名词 。


