#section2.block.container-fluid.white-color.main-bgcolor
  .row
    .col-sm-5.bg-fixed.slice-corner.slice-main
      .background-full.img-float(style="background-image:url('assets/misc/demo02/plane2.jpg');")
    .col-sm-7.col-sm-offset-5.from-right.anim
      .col-sm-11.col-sm-offset-1
        h2.sans-2 加利斯特奥航空 
          br
          span.accent-color.bold.uppercase 简介 
        p.sans.text-sm 当一些世界最好的公司联手将想法变为现实，结果将令人惊讶，且超过所有人预期。

        p.sans.text-sm 这就是加利斯特奥无限航空公司（GALISTEO Infinite Aviation）的愿景。现在进入VIP 和超级VIP市场，融合我们的被公认具有世界领导地位的合作伙伴及供应商的所有经验、人才、以及卓越实践。正是这一切，可以确保我们达到豪华和功能的最高标准。
        h3
          a.btn.btn-bordered.icon-show.btn-md(href="mailto:barnes@galisteoaviation.com,abbad@galisteoaviation.com") 联系方式
            span.icon-right.fa.fa-chevron-right

//- MOCKUP
.block.center.container-fluid.bg-fixed.background-full.bg-alpha-dark#sectionmockup(style="background-image:url('assets/misc/demo02/section-01.jpg');",data-stellar-background-ratio="0.5")
  .bg
  .row
    .column-1.center.white-color.from-top.anim-far.anim-slow.anim
      h3.lined 加利斯特奥航空
      .spacing.sp-vertical.sp-sm
      p.text-lg.serif-2
        i 我们的使命简单而独特：将灵感变为概念，再将每个概念变为现实，使客户满意。
      .spacing.sp-vertical.sp-sm
      //- img.img-full(src="assets/images/ipad-white.png",alt="")
  .diamond-size-md.half-diamond.from-bottom.anim-far.anim
    a.diamond.light-color.main-bgcolor(href="#sectionDetails",data-scrollTo="true")
      .content
        h4.sans.uppercase.bold 详细信息
        span.glyphicon.glyphicon-chevron-down

#sectionDetails.block.container-fluid.light-bgcolor
  .row
    .col-md-7.col-sm-8.col-xs-12.from-left.anim
      h2.sans-2 主要的合作伙伴
          br
          span.accent-color.bold.uppercase 和供应商 
      p 为国家元首飞行器设计和完成豪华内饰要求清晰地了解政府的需要和品味，以及拥有所有的技能来成功完成这个涉及多学科项目的每一步。

      p 这是加利斯特奥无限航空公司（GALISTEO Infinite Aviation）的前景，它结合了世界领先的合作伙伴和供应商在每一个领域的专业水准，以确保我们负责的每个项目的成功。
      .row 
        .col-md-4.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-graph.icon-left
            | Iberia Maintenance
          p.text-sm 伊比利亚维护公司是世界范围内MRO（维护/维修/运行）的顶级领导者之一。
        .col-md-4.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-bones.icon-left
            | Altran
          p.text-sm 全球领先的工程、认证和业务顾问咨询公司。Altran是空客集团（Airbus Group）工程服务首选供应商(A类)。
        .col-md-4.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-bones.icon-left
            | BMW Group Designworks USA
          p.text-sm 负责总体的豪华内饰和内部空调系统的创新设计。
    .col-md-5.col-md-offset-7.col-sm-4.col-sm-offset-8.col-xs-hidden.slice-corner.slice-left.slice-light.bg-fixed.slice-corner.slice-left.slice-light.bg-fixed
      .background-full.img-float(style="background-image:url('assets/misc/demo02/section-03.jpg');")