#section4.block.lightgray-bgcolor.container-fluid.icons-block.team-block
  .row
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/juan-jose-mesia.jpg');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="http://es.linkedin.com/pub/juan-jos%C3%A9-mes%C3%ADa/a/481/862/es",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:mesia@galisteoaviation.com") 联系
            span.icon-right.fa.fa-envelope
          
        //- span.steady.icon-battery-25.light-color.anim.anim-rotate
      .text-container
        p.sans-2.uppercase.bolder
          i Juan José Mesía
        p.sans.text-sm.second-line.uppercase 先生, 联合创始人，执行合伙人兼总裁
        p.text-sm Juan Jose先生生于西班牙，先后在美国和比利时接受教育，在波士顿大学取得经济学士学位之后在比利时鲁汶大学取得工商管理硕士学位。
        p.text-sm 他曾在许多不同领域不同岗位担任要职。作为自然企业家他曾参与许多公司的初创，在国际贸易领域积累了丰富经验和渊博知识。
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/concepcion-castillejo.jpg');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="http://es.linkedin.com/pub/concepci%C3%B3n-castillejo/b/b76/108",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:castillejo@galisteoaviation.com") 联系
            span.icon-right.fa.fa-envelope
      .text-container
        p.sans-2.uppercase.bolder
          i Concha Castillejo
        p.sans.text-sm.second-line.uppercase 女士, 联合创始人，执行合伙人兼副总裁
        p.text-sm Concha女士出生于瓦伦西亚，毕业于巴伦西亚大学法律专业。之后在安东尼奥内布里哈大学获得MBA学位，并继续硕士后和博士学位课程，获得研究能力证书。

        p.text-sm 她曾供职于多家公司董事会，包括一家联合航空公司，在西班牙，巴西，多米尼加共和国，墨西哥和美国等地担任要职（综合管理）。
  .row
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/oscar-barnes.png');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="https://es.linkedin.com/pub/oscar-barn%C3%A9s-pereira/52/a90/383/en",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:barnes@galisteoaviation.com") 联系
            span.icon-right.fa.fa-envelope
      .text-container
        p.sans-2.uppercase.bolder
          i Oscar Barnés
        p.sans.text-sm.second-line.uppercase 先生, 公司业务和全球品牌营销负责人
        p.text-sm 出生于西班牙并在马德里接受教育。Oscar先生在马德里商会取得销售和市场营销学位，工商管理硕士学位和专业航空财务与会计证书。他同时拥有有私人飞机和滑翔机驾驶许可证。

        p.text-sm 他曾在多个航空业部门担任要职，能说流利的英语和西班牙语。
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/raffael-abad.png');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="https://www.linkedin.com/profile/view?id=184725163",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:abbad@galisteoaviation.com") 联系
            span.icon-right.fa.fa-envelope
      .text-container
        p.sans-2.uppercase.bolder
          i Rafael de Abbad-Bordiu
        p.sans.text-sm.second-line.uppercase 先生，公司全球扩展负责人。
        p.text-sm Rafael先生来自西班牙，曾在迈阿密接受教育，在英国求学并取得艺术学士学位。之后在汉普顿大学主修工商管理，并在智利圣地亚哥航空管理取得硕士学位。

        p.text-sm 他曾在商业、货物和执行等航空部门担任要职。