//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- FIRST FOOTER
    .row.dark-bgcolor#mainfooter
      .container
        .row.center
          .col-xs-12.col-sm-3
            a(href="http://galisteoaviation.com/")
              img.img(src="assets/misc/demo02/logo.png")
          .col-xs-4.col-sm-3
            a(href="http://www.iberiamaintenance.com/",target="_blank")
              img.img(src="/assets/misc/demo02/iberia.png")
          .col-xs-4.col-sm-3
            a(href="http://www.altran.es/",target="_blank")
              img.img(src="/assets/misc/demo02/altran.png")
          .col-xs-4.col-sm-3
            a(href="http://designworksusa.com/",target="_blank")
              img.img(src="/assets/misc/demo02/bmw.png")
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .col-sm-8
        p.text-small.center © 2015 Galisteo, Infinite Aviation
          | · 
          a.light-color(href="http://galisteoaviation.com/legal-notice.pdf",target="_blank") Legal Notice 
          | · 
          a.light-color(href="http://galisteoaviation.com/galisteo.pdf",target="_blank") About Us
      a.btn.btn-block.btn-main-dark.col-sm-4.btn-square(href="mailto:barnes@galisteoaviation.com,abbad@galisteoaviation.com")
        h4
          span.sans-2.bolder Write To Us
          span.icon-right.glyphicon.glyphicon-chevron-right
