nav.navbar.nav-transparent.navbar-fixed-top.light-color
  .container-fluid
    //- Brand and toggle
    .navbar-header.nav-headerboxed.main-bgcolor
      a.light-color.link.align-right.visible-xs(href="",data-toggle="sidebar")
        i.fa.fa-bars.fa-2x
      a.navbar-brand(href="#section2",data-scroll="true")
        img.brand(src="assets/misc/demo02/logo.png")

    
    .collapse.navbar-collapse.sans.uppercase
      //- Left menu
      //-
        ul.nav.navbar-nav
          li.active
            a(href="#") Link
              span.sr-only Current
          li
            a(href="#") Link
      //- Right menu
      
      ul.nav.navbar-nav.navbar-right.hidden-xs
        li
          a(href="#section2",data-scrollTo="true").sans-2.lighter
            i  Introduction
        li
          a(href="#section3",data-scrollTo="true").sans-2.lighter
            i  Aircrafts
        li
          a(href="#section4",data-scrollTo="true").sans-2.lighter
            i  Team
        li
          a(href="http://galisteoaviation.com/galisteo.pdf",target="_blank").sans-2.lighter
            i Presentation
        li
          a.btn.btn-main.btn-sm.icon-show.lighter(href="mailto:barnes@galisteoaviation.com,abbad@galisteoaviation.com")
            i.sans-2 Contact
            span.icon-right.fa.fa-envelope