//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- FIRST FOOTER
    .row.dark-bgcolor#mainfooter.withmap
      .col-sm-8
        .col-sm-3.col-sm-offset-1
          h3.accent-color bueninvento
          //- img.brand(src="assets/images/logo-bueninvento.png")
        .col-sm-3
          p.text-small Síguenos
          p.social-icons
            a(href="")
              span.fa.fa-facebook
            a(href="")
              span.fa.fa-twitter
            a(href="")
              span.fa.fa-github
            a(href="")
              span.fa.fa-instagram
            a(href="")
              span.fa.fa-dribbble
            a(href="")
              span.fa.fa-wordpress
        .col-sm-4
          p.text-small Ven a visitarnos
          p.sans.small Bueninvento
            | Calle Gascó Oliag 8, 8
            | 46010 Valencia
            | Fijo : 96 361 57 13
            | Móvil : 690 708 181
            | bueninvento@bueninvento.es
      .col-sm-4.map.background-full(style="background-image:url('assets/images/map.png')")
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .col-sm-8
        p.text-small.center © 2015 Bueninvento SL
          | · 
          a.light-color(href="") Privacy 
          | · 
          a.light-color(href="") Contact
      a.btn.btn-block.btn-main-dark.col-sm-4.btn-square(href="")
        h4
          span.sans.bolder Escríbenos
          span.icon-right.glyphicon.glyphicon-chevron-right
