#home
  .block.light-color.center.container-fluid
    .bg-fixed
      .background-full.zoomClass.bg-alpha-main(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/home.jpg')")
        .bg
    .row
      .spacing.sp-lg
      .col-sm-10.col-sm-offset-1.text-left.anim.from-left.anim-far.anim-slow
        h1.text-sm.lighter 30 a침os de
          br
          span.bolder calidad
      .spacing.sp-lg
      .spacing.sp-md

  //- PORTFOLIO
  .block.container-fluid.block-wide.lightgray-bgcolor
    .row.portfolio.thumbs-wide
      //- .col-sm-2.center
      a.col-sm-3.thumb.zoomHover.center(href="/productos")
        .img.background-full.bg-gradientshadow-top(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/thumb1.jpg');")
          .bg
        .text-content
          .spacing.sp-md
          h3.light-color.title.uppercase.lighter
            | Rollos
            br
            span.bolder PVC
          .spacing.sp-sm2
          .btn.btn-sm.btn-bordered M치s info
      a.col-sm-3.blue-bgcolor.thumb.zoomHover.center(href="/productos")
        .img.background-full.bg-gradientshadow-top(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/thumb2.jpg');")
          .bg
        .text-content
          .spacing.sp-md
          h3.light-color.title.uppercase.lighter
            | Rollos
            br
            span.bolder madera
          .spacing.sp-sm2
          .btn.btn-sm.btn-bordered M치s info
      a.col-sm-3.blue-bgcolor.thumb.zoomHover.center(href="/productos")
        .img.background-full.bg-gradientshadow-top(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/thumb3.jpg');")
          .bg
        .text-content
          .spacing.sp-md
          h3.light-color.title.uppercase.lighter
            | Molduras a
            br
            span.bolder testa
          .spacing.sp-sm2
          .btn.btn-sm.btn-bordered M치s info
        - $args = array( 'numberposts' => '1' );
        - $recent_posts = wp_get_recent_posts( $args );
        - foreach( $recent_posts as $recent ){
        a.col-sm-3.main-bgcolor.thumb.red-thumb.center(href!="<?php echo get_permalink($recent['ID'])?>")
          .text-content.align-left
            h3.light-color
              span.bolder 
                - $allCat = get_the_category();
                - $lastCat = array_reverse($allCat);
                - echo $lastCat[$recent['ID']]->name;
                |  / 
              - echo get_the_date('d.m.Y',$recent['ID'])
            .spacing.sp-sm
            p.light-color.lined-sm
              - echo get_the_title($recent['ID'])
        - }

      