#noticia
  .block.titlebanner.black-color.center.container-fluid.gray-bgcolor.block-stretch
    .row
      .column-1
        h2 Noticias

  .study.block.container-fluid.posts-block.lightgray-bgcolor

    - while (have_posts()): the_post();
        .row
          .uppercase
            a(href="/")
              | Home 
            | < 
            a(href="/noticias")
              | Noticias 
            | <
            a(href!="<?php echo get_permalink();?>") 
              - the_title();
          .spacing.sp-sm2
          .study-1.sol-sm-12.col-md-12.col-lg-10.col-lg-offset-1.light-bgcolor.dark-color
            .block
                .row
                  .col-sm-12.col-md-6
                    p.main-color
                      - echo get_the_date('j/m/y');
                    h3.main-color 
                      - the_title();
                    .spacing.sp-xs2
                      - $cats = get_the_category();
                      - $cat_name = $cats[0]->name;
                      - echo $cat_name
                      - $categories = get_the_category();
                      - $separator = ' ';
                      - $output = '';
                      - if($categories){
                      -  foreach($categories as $category) {
                      -    $output .= '<a href="'.get_category_link( $category->term_id ).'" title="' . esc_attr( sprintf( __( "View all posts in %s" ), $category->name ) ) . '">'.$category->cat_name.'</a>'.$separator;
                      -  }
                      - echo trim($output, $separator);
                      - }
                    p 
                      - the_content();
                    .spacing.sp-md
                  .col-md-6.col-sm-12
                    a.img-full(href!="<?php echo the_field('imagen_principal'); ?>",rel="lightbox[noticia]",title="",style!="background-image:url('<?php the_field('foto1');?>')")
                      img.img-full(src!="<?php echo the_field('imagen_principal'); ?>",alt="")
                    .spacing.sp-xs
                    .row.row-lessgutter.thumbs
                      .col-sm-3.col-lessgutter
                        a.img-full.thumb.thumb-mini.background-full(href!="<?php echo the_field('imagen1'); ?>",rel="lightbox[noticia]",title="",style!="background-image:url('<?php the_field('imagen1');?>')")
                          //- img.img-full(src!="<?php echo the_field('imagen1'); ?>",alt="") 
                      .col-sm-3.col-lessgutter
                        a.img-full.thumb.thumb-mini.background-full(href!="<?php echo the_field('imagen2'); ?>",rel="lightbox[noticia]",title="",style!="background-image:url('<?php the_field('imagen2');?>')")
                          //- img.img-full(src!="<?php echo the_field('imagen2'); ?>",alt="") 
                      .col-sm-3.col-lessgutter
                        a.img-full.thumb.thumb-mini.background-full(href!="<?php echo the_field('imagen3'); ?>",rel="lightbox[noticia]",title="",style!="background-image:url('<?php the_field('imagen3');?>')")
                          //- img.img-full(src!="<?php echo the_field('imagen3'); ?>",alt="") 
                  .col-sm-12
                    .spacing.sp-sm2
                    a.text-link(href="/noticias")
                      p.uppercase.main-color.text-center < Volver a noticias
                    .spacing.sp-sm2
          .spacing.sp-md
    -endwhile;