#producto
  .block.container-fluid.posts-block.lightgray-bgcolor
    .row
      #product-left.col-sm-4
        a.dark-color(href="/productos")
          p.uppercase
            span.fa.fa-chevron-left.spacing.sp-horizontal.sp-sm
            | Nuestros productos
        .spacing.sp-sm
        img.img-full(src!="<?php the_field('foto_principal');?>",alt="")
        .block.main-bgcolor.light-color
          .align-right
            .btn.btn-bordered.btn-nolink
              p.text-xl.lowercase
                <?php the_field('grosor'); ?>
                span.uppercase.text-sm espesor
            .spacing.sp-sm
            p.lines
              - the_field('atributo_breve_1');
            p.lines
              - the_field('atributo_breve_2');
            p.lines
              - the_field('atributo_breve_3');
            .spacing.sp-sm
            a.text-link(href!="<?php the_field('ficha_pdf');?>")
              p.uppercase Descargar ficha 
              span.fa.fa-download
          .clearfix
        a.block.gray-bgcolor.block-stretch.text-center(href="/productos")
          p.uppercase.text-sm
            span.fa.fa-chevron-left.spacing.sp-horizontal.sp-sm2
            | Volver a productos
      #product-right.col-sm-8
        .spacing.sp-md
        h2.uppercase
          - the_field('titulo_linea_1');
          br
          span.bolder
            - the_field('titulo_linea_2');
        .spacing.sp-sm2
        p
          - the_field('parrafo');
        .spacing.sp-sm
        .btn.btn-bordered.btn-dark.btn-nolink Presentación
        .spacing.sp-sm
        p
          - the_field('presentacion');
        .spacing.sp-sm
        .btn.btn-bordered.btn-dark.btn-nolink Acabados
        .spacing.sp-sm
        p
          - the_field('acabados');
        .spacing.sp-sm
        #galeria.row.row-lessgutter.thumbs
          .col-sm-4.col-lessgutter
            a.img-full.background-full.thumb.thumb-sm(href!="<?php echo the_field('foto1'); ?>",rel="lightbox[producto]",title="",style!="background-image:url('<?php the_field('foto1');?>')")
              //- img.img-full(src!="<?php the_field('foto1');?>",alt="")
          .col-sm-4.col-lessgutter
            a.img-full.background-full.thumb.thumb-sm(href!="<?php echo the_field('foto2'); ?>",rel="lightbox[producto]",title="",style!="background-image:url('<?php the_field('foto2');?>')")
          .col-sm-4.col-lessgutter
            a.img-full.background-full.thumb.thumb-sm(href!="<?php echo the_field('foto3'); ?>",rel="lightbox[producto]",title="",style!="background-image:url('<?php the_field('foto3');?>')")
          .col-sm-4.col-lessgutter
            a.img-full.background-full.thumb.thumb-sm(href!="<?php echo the_field('foto4'); ?>",rel="lightbox[producto]",title="",style!="background-image:url('<?php the_field('foto4');?>')")

