#quienes
  #banner.block.light-color.center.container-fluid.background-full.bg-alpha-dark(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/home.jpg')")
    .bg
    .row
      .spacing.sp-xl
      //- .col-sm-8.col-sm-offset-2
      .col-sm-12
        h3.text-lg.lighter Productos de chapa de madera para el
          br
          span.bolder recubrimiento de cantos y molduras
    .next-up
      a.btn.btn-circle.btn-sm.from-top.anim-slow.anim(href='#nosotros',data-scrollTo="true")
        span.glyphicon.glyphicon-menu-down
    .spacing.sp-lg

  #nosotros.block.black-color.center.container-fluid
    .row
      //- .col-sm-8.col-sm-offset-2
      .column-1
        h2.text-lg Nosotros
        .spacing.sp-sm2
        p Donec sed odio dui. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        p Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.lit.
        p Donec sed odio dui. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        .spacing.sp-sm2

  //- PORTFOLIO
  .block.container-fluid.block-wide
    .row.portfolio.thumbs-wide
      //- .col-sm-2.center
      .col-sm-6.lightgray-bgcolor.thumb.thumb-lg.center
        .text-content
          .spacing.sp-sm2
          h2.main-color
            | Más de 30 años
            br
            | en el sector
          p.text-lg.dark-color
            | Mejorando día a día en tecnología
            br
            | y recursos informáticos
          .spacing.sp-sm2
      .col-sm-6.blue-bgcolor.thumb.zoomHover.thumb-lg.center.thumbmg
        .img.background-full.bg-alpha-dark(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/demo02/section-04.jpg');")
          .bg
        .text-content

  .block.container-fluid.block-wide.lightgray-bgcolor
    .row.portfolio.thumbs-wide
      //- .col-sm-2.center
      a.col-sm-4.light-bgcolor.thumb.thumb-xl.zoomHover.center.accordion-show
        .text-content
          .spacing.sp-md
          h2.main-color.title
            span
              img.icon-img(src!="<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/servicio.svg",alt="Calidad Cantisa")
            | Atención
          p.text-lg.dark-color Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          .spacing.sp-sm2
      .col-sm-4.blue-bgcolor.thumb.thumb-xl.zoomHover.center.thumbmg2
        .img.background-full.bg-alpha-dark(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/demo02/section-04.jpg');")
          .bg
        .text-content

      a.col-sm-4.light-bgcolor.thumb.thumb-xl.zoomHover.center
        .text-content
          .spacing.sp-md
          h2.main-color.title
            span
              img.icon-img(src!="<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/calidad.svg",alt="Calidad Cantisa")
            | Calidad
          p.text-lg.dark-color Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
          .spacing.sp-sm2