#servicios
  .block.light-color.center.container-fluid
    .bg-fixed
      .background-full.zoomClass.bg-alpha-main(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/home.jpg')")
        .bg
    .row
      .spacing.sp-lg
      .col-sm-10.col-sm-offset-1.text-left.anim.from-left.anim-far.anim-slow
        h1.text-sm.lighter Transporte marítimo
          br
          span.bolder Líderes en el transporte marítimo de contenedores reefers
      .spacing.sp-lg
      .spacing.sp-md

  //- PORTFOLIO
  .block
    .row
      .col-sm-6
        img.img-full(src!='<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/thumb1.jpg')
      .col-sm-6
        p Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        p Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        p.bolder Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna.
        .btn Contacta