#servicios
  .block.light-color.center.container-fluid
    .bg-fixed
      .background-full.zoomClass.bg-alpha-main(style!="background-image:url('<?php echo get_template_directory_uri(); ?>/assets/misc/10-cantisa/web/home.jpg')")
        .bg
    .row
      .spacing.sp-lg
      .col-sm-10.col-sm-offset-1.text-left.anim.from-left.anim-far.anim-slow
        h1.text-sm.lighter Tracking
      .spacing.sp-lg
      .spacing.sp-md
  .block
    .row
      .col-sm-6.dark-color
        p.bolder Acceso Tracking
        p Sed posuere consectetur est at lobortis.
        form
          //- - echo do_shortcode('[contact-form-7 id="40" title="Formulario de contacto 1"]')
            
          .form-group
            label ID
              span.main-color *
            input.form-control(type="text",placeholder="")
          .form-group
            label PID
            input.form-control(type="text",placeholder="")
          .col-sm-12.text-center
            .spacing.sp-sm
            button.btn.dark-btn OK

      
  
      .spacing.sp-md

 