div(ng-app="bigband")
  div(ng-controller="bigbandCtrl")
    //- BANNER TOP
    #slickslide.block.block-wide.container-fluid.slide-block.main-bgcolor
      .sl-slide.block.container-fluid.main-bgcolor.slide-no-arrows.slide-no-draggable
        .bg-fixed
          .background-full.anim.zoomClass(style="background-image:url('assets/misc/demo06/blue-icons.png');")
        .row
          .col-sm-6.col-md-4.col-md-offset-2.light-color.animate-hide(ng-hide="checkSuccess || checkFail")
            h2.sans-2
              span.text-block-bgcolor.darkmain-bgcolor.accent-color.anim-blink Tu página web puede desaparecer de Google
              br
              span.text-block-bgcolor.darkmain-bgcolor.white.italic si no tiene versión para móviles
            .spacing.sp-sm
            form.form-big.form-full.form-bordered.sans-2(role="search",ng-submit="checkMobile()")
              .form-group
                input.form-control(type="text",placeholder="Escribe la url de tu página",ng-model="web")
              .form-group
                input.form-control(type="text",placeholder="Tu correo electrónico")
              button.btn-lg.btn-block.btn.btn-gradient.btn-orange(type="submit")
                span(ng-hide="checking") Comprueba si es válida
                span(ng-show="checking") Comprobándolo
                .portal(ng-show="checking")
                  div
                    div
                    div
                    div
            .spacing.sp-sm
            a.text-link.sans-2(href="")
              p Quiero saber más
            span.pd-sm  /
            a.text-link.sans-2(href="")
              p Necesito una web
            .spacing.sp-sm
          .col-md-2(ng-show="checkSuccess || checkFail")
          .col-sm-6.col-md-4.phone-col
            .phone-cont
              .screenshot
                iframe#iframe(src="")
      
      .sl-slide.block.container-fluid.main-bgcolor
        .bg-fixed
          .background-full.anim.zoomClass(style="background-image:url('assets/misc/demo06/blue-icons.png');")
        .row
          .col-sm-6.col-md-4.light-color.animate-show(ng-show="checkSuccess")
            //- .spacing.sp-vertical.sp-md
            h2.sans-2
              
              span.text-block-bgcolor.darkmain-bgcolor.accent-color ¡Enhorabuena!
              br
              span.text-block-bgcolor.darkmain-bgcolor.white.italic Tu página es móvil
              .spacing.sp-sm2
              p.sans-2.text-lg Tu puntuación es {{score}}. Tenemos operadores conectados las 24 horas del dia para responder a todas y cada una de sus peticiones. Mándanos un sms y te conseguiremos lo que necesites. Tus peticiones serán atendidas por los proveedores adecuados (restaurantes, floristerías, agencias de viajes) para que te lleguen directamente gracias a Emoconect.
            .spacing.sp-sm
      .sl-slide.block.container-fluid.main-bgcolor
        .bg-fixed
          .background-full.anim.zoomClass(style="background-image:url('assets/misc/demo06/blue-icons.png');")
        .row
          .col-sm-6.col-md-4.light-color.animate-show(ng-show="checkSuccess")
            //- .spacing.sp-vertical.sp-md
            h2.sans-2
              span.text-block-bgcolor.darkmain-bgcolor.accent-color Malas noticias
              br
              span.text-block-bgcolor.darkmain-bgcolor.white.italic Tu página no es móvil
              .spacing.sp-sm2
              p.sans-2.text-lg Tu puntuación es {{score}}. Tenemos operadores conectados las 24 horas del dia para responder a todas y cada una de sus peticiones. Mándanos un sms y te conseguiremos lo que necesites. Tus peticiones serán atendidas por los proveedores adecuados (restaurantes, floristerías, agencias de viajes) para que te lleguen directamente gracias a Emoconect.
            .spacing.sp-sm
      

    #topbanner.block.container-fluid.main-bgcolor
      .bg-fixed
        .background-full.anim.zoomClass(style="background-image:url('assets/misc/demo06/blue-icons.png');")
      .row
        .col-sm-6.col-md-4.col-md-offset-2.light-color.animate-hide(ng-hide="checkSuccess || checkFail")
          h2.sans-2
            span.text-block-bgcolor.darkmain-bgcolor.accent-color.anim-blink Tu página web puede desaparecer de Google
            br
            span.text-block-bgcolor.darkmain-bgcolor.white.italic si no tiene versión para móviles
          .spacing.sp-sm
          form.form-big.form-full.form-bordered.sans-2(role="search",ng-submit="checkMobile()")
            .form-group
              input.form-control(type="text",placeholder="Escribe la url de tu página",ng-model="web")
            .form-group
              input.form-control(type="text",placeholder="Tu correo electrónico")
            button.btn-lg.btn-block.btn.btn-gradient.btn-orange(type="submit")
              span(ng-hide="checking") Comprueba si es válida
              span(ng-show="checking") Comprobándolo
              .portal(ng-show="checking")
                div
                  div
                  div
                  div
          .spacing.sp-sm
          a.text-link.sans-2(href="")
            p Quiero saber más
          span.pd-sm  /
          a.text-link.sans-2(href="")
            p Necesito una web
          .spacing.sp-sm
        .col-md-2(ng-show="checkSuccess || checkFail")
        .col-sm-6.col-md-4.phone-col
          .phone-cont
            .screenshot
              iframe#iframe(src="")
        .col-sm-6.col-md-4.light-color.animate-show(ng-show="checkSuccess")
          //- .spacing.sp-vertical.sp-md
          h2.sans-2
            
            span.text-block-bgcolor.darkmain-bgcolor.accent-color ¡Enhorabuena!
            br
            span.text-block-bgcolor.darkmain-bgcolor.white.italic Tu página es móvil
            .spacing.sp-sm2
            p.sans-2.text-lg Tu puntuación es {{score}}. Tenemos operadores conectados las 24 horas del dia para responder a todas y cada una de sus peticiones. Mándanos un sms y te conseguiremos lo que necesites. Tus peticiones serán atendidas por los proveedores adecuados (restaurantes, floristerías, agencias de viajes) para que te lleguen directamente gracias a Emoconect.
          .spacing.sp-sm
        .col-sm-6.col-md-4.light-color.animate-show(ng-show="checkFail")
          //- .spacing.sp-vertical.sp-md
          h2.sans-2
            
            span.text-block-bgcolor.darkmain-bgcolor.accent-color Malas noticias
            br
            span.text-block-bgcolor.darkmain-bgcolor.white.italic Tu página no es móvil
            .spacing.sp-sm2
            p.sans-2.text-lg Tu puntuación es {{score}}. Tenemos operadores conectados las 24 horas del dia para responder a todas y cada una de sus peticiones. Mándanos un sms y te conseguiremos lo que necesites. Tus peticiones serán atendidas por los proveedores adecuados (restaurantes, floristerías, agencias de viajes) para que te lleguen directamente gracias a Emoconect.
          .spacing.sp-sm



        //- .iphone-column.col-sm-4.center
        //-   .spacing.sp-sm
        //-   .iphone-case
        //-     img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        //-     .screenshot.img.img-full
        //-       img.img(src="assets/misc/demo08/screen1.png")
        //- .iphone-column.col-sm-4.center
        //-   .spacing.sp-sm
        //-   .iphone-case
        //-     img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        //-     img.screenshot.img.img-full(src="assets/misc/demo08/screen2.png")
        //- .iphone-column.col-sm-4.center
        //-   .spacing.sp-sm
        //-   .iphone-case
        //-     img.iphone.img.img-full(src="assets/misc/demo06/iphone.png")
        //-     img.screenshot.img.img-full(src="assets/misc/demo08/screen3.png")

    //- BLOCK 2
    .block.container-fluid.white-bgcolor
      .row
        .col-sm-5.bg-fixed.slice-corner.slice-light
          .background-full.img-float(style="background-image:url('http://www.arthurweill.fr/img/unsplash/images_1280/tumblr_mnh121HEWa1st5lhmo1_1280.jpg');")
        .col-sm-7.col-sm-offset-5.from-right.anim
          .col-sm-11.col-sm-offset-1
            h2.sans-2.bolder.uppercase.accent ¿De qué va todo esto?
            p Tenemos operadores conectados las 24 horas del dia para responder a todas y cada una de sus peticiones. Mándanos un sms y te conseguiremos lo que necesites. Tus peticiones serán atendidas por los proveedores adecuados (restaurantes, floristerías, agencias de viajes) para que te lleguen directamente gracias a Emoconect.
            h3
              a.btn.btn-dark.btn-bordered.icon-show.btn-md.italic.sans-2(href="#history",data-scrollTo="true") ¿Quieres saber más?
                span.icon-right.fa.fa-chevron-right

    .block.container-fluid.main-bgcolor(style="background-image:url('assets/misc/demo06/blue-icons.png');")
        .row
            .col-sm-4.col-sm-offset-1
              h3.sans-2.align-right.pd-md
                span.text-block-bgcolor.darkmain-bgcolor.accent-color ¿Quieres que echemos un vistazo a tu web?
                br
                span.text-block-bgcolor.darkmain-bgcolor.white-color Podemos plantearte soluciones atractivas y económicas
            .col-sm-4
              //-
                a.btn.btn-gradient.btn-orange.btn-sm(href="#")
                  h3.lowercase.light-color.sans-2 Compruébalo ahora
              .spacing.sp-sm2
              form.form-big.form-full.form-bordered.sans-2(role="search")
                .form-group
                  input.form-control(type="text",placeholder="Si tienes web, escribe la url")
                .form-group
                  input.form-control(type="text",placeholder="Tu correo electrónico")
                button.btn-lg.btn-block.btn.btn-gradient.btn-orange(type="submit") Comprueba si es válida
              .spacing.sp-sm

    #history.study.block.container-fluid.posts-block.lightgray-bgcolor(style="background-image:url('assets/misc/demo06/gray-icons.png');")
      .bg-fixed
        .background-full.zoomClass(style="background-image:url('assets/misc/demo08/desktop.jpg')")
      .row
        .col-sm-12.center
          .btn.btn-gradient.btn-orange.btn-nolink.btn-sm
            h3.lowercase.light-color.sans-2 Preguntas frecuentes
          .spacing.sp-md
        .study-1.col-sm-8.col-sm-offset-2.light-bgcolor.dark-color
          .block
            p.white-color.sans-2.text-lg
              span.text-block-bgcolor.darkmain-bgcolor No lo entiendo - ¿Qué me aporta Emoconect?
              .spacing.sp-xs
            p.lighter Nuestra filosofía es ser tu aspirina virtual para quitar tus dolores de cabeza y solucionar tus problemas.
            p.lighter Hemos formado a nuestros empleados para atender a tus peticiones y se te plantearan soluciones apropiadas.
            .spacing.sp-sm
            p.white-color.sans-2.text-lg
              span.text-block-bgcolor.darkmain-bgcolor El porqué de todo esto
              .spacing.sp-xs
            p.lighter Nuestra filosofía es ser tu aspirina virtual para quitar tus dolores de cabeza y solucionar tus problemas.
            p.lighter Hemos formado a nuestros empleados para atender a tus peticiones y se te plantearan soluciones apropiadas.  
            
