doctype
//- html.no-js
<html lang='es'>
//- html(lang="en")
head
  include ./includes/10-cantisa/head.jade

<body class='sd-right'>
//- body.sd-right

<!--[if lt IE 8]>
p.browsehappy
  | You are using an <strong>outdated</strong> browser.
  | Please <a href="http://browsehappy.com/">upgrade your browser</a>
  | to improve your experience.
<![endif]-->
<div id='view'>
include ./includes/10-cantisa/topbar.jade
include ./includes/10-cantisa/sidebar.jade