//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- FIRST FOOTER
    .row.dark-bgcolor#mainfooter.withmap
      .col-sm-8
        .col-sm-3.col-sm-offset-1
          img.brand.hidden-xs(src="assets/misc/demo07/logo.png")
        .col-sm-3
          p.text-small Síguenos
          p.social-icons
            a(href="")
              span.fa.fa-facebook
            a(href="")
              span.fa.fa-twitter
            a(href="")
              span.fa.fa-flickr
            a(href="")
              span.fa.fa-instagram
            a(href="")
              span.fa.fa-dribbble
            a(href="")
              span.fa.fa-wordpress
        .col-sm-4
          p.text-small Ven a visitarnos
          p.sans.small Spydos
            | Calle Gascó Oliag 8, 8
            | 46010 Valencia
            | Fijo : 96 361 57 13
            | Móvil : 690 708 181
            | hello@spydos.com
      .col-sm-4.map.background-full(style="background-image:url('assets/misc/demo07/drone.png')")
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .col-sm-12
        p.text-sm.center © 2015 Spydos
          | · 
          a.light-color(href="") Privacy 
          | · 
          a.light-color(href="") Contact