#section2.block.container-fluid.light-color.main-bgcolor
  .row
    .col-sm-6.bg-fixed.slice-corner.slice-main
      .background-full.img-float(style="background-image:url('http://4.bp.blogspot.com/_vq_OaoGADek/TKuVIoBQRNI/AAAAAAAAHUw/FAYRey7iRf0/s800/002_House_R.jpg');")
    .col-sm-6.col-sm-offset-6.from-right.anim
      h2.sans-2.bold.uppercase El 
        span.accent-color 89% de las empresas 
        br 
        | españolas no la superaría
      p Imagina una casa con acabados de lujo y perfectamente equipada, pero sin puerta ni ventanas. Absurdo, ¿no? Pues aunque resulte difícil de creer el mercado está repleto de productos perfectamente inútiles.
      h3
        .btn.btn-bordered.icon-show.btn-md Call to action
          span.icon-right.fa.fa-chevron-right

.block.container-fluid.light-bgcolor
  .row
    .col-md-7.col-sm-8.col-xs-12.from-left.anim
      h2.sans-2.bold.uppercase
        span.steady.icon-battery-25.icon-left
        | Mal 
        span.accent-color enfoque
      p Las empresas suelen enfocarse a producto, descuidando otros aspectos relevantes del negocio, como el estudio de sus potenciales clientes, tendencias del mercado, etc.
      .row 
        .col-md-6.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-graph.icon-left
            | La clave está en la estrategia
          p.text-sm Tener un buen producto o servicio ya no garantiza el éxito si no va de la mano de una buena estrategia.
        .col-md-6.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-bones.icon-left
            | La suerte no es de fiar
          p.text-sm Por falta de tiempo o de recursos las empresas suelen descuidar la parte estratégica. Es como lanzar una moneda y limitarse a esperar que la suerte esté de su lado.
    .col-md-5.col-md-offset-7.col-sm-4.col-sm-offset-8.col-xs-hidden.slice-corner.slice-left.slice-light.bg-fixed.slice-corner.slice-left.slice-light.bg-fixed
      .background-full.img-float(style="background-image:url('http://www.arthurweill.fr/img/unsplash/images_1280/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg');")