//- MOCKUP
#sectionmockup.block.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark(style="background-image:url('http://www.arthurweill.fr/img/unsplash/images_1280/tumblr_mnh0uemhCk1st5lhmo1_1280.jpg');")
      .bg
  .row
    .column-1.center.light-color.from-top.anim-far.anim-slow.anim
      h3.lined bueninvento
      .spacing.sp-vertical.sp-sm
      p.text-lg.serif-2
        i En Bueninvento rastreamos oportunidades en el mercado que transformamos en ventajas diferenciales. Especializados en marketing digital, maximizamos tu mensaje y te acercamos a tu cliente.
      .spacing.sp-vertical.sp-sm
      //- img.img-full(src="assets/images/ipad-white.png",alt="")
  .diamond-size-md.half-diamond.from-bottom.anim-far.anim
    a.diamond.light-color.main-bgcolor(href="#section2",data-scroll="true")
      .content
        h4.sans.uppercase.bold Servicios
        span.glyphicon.glyphicon-chevron-down