#slickslide.block.block-wide.container-fluid.dark-color.slide-block
  .sl-slide.background-full(style="background-image:url('assets/misc/demo02/section-04.jpg');")
    .col-md-7.col-md-offset-5.col-sm-8.col-sm-offset-4
      .contents.light-bgcolor
        h3.serif-2.italic.bold.text-sm.lined Customized creative design
        p.text-md At GALISTEO, our Interior Design Program is organized as a multi-phase iterative process, with each successive phase milestone narrowing towards a single holistic design solution.
        .spacing.sp-vertical.sp-sm
  .sl-slide.background-full(style="background-image:url('assets/misc/demo02/section-05.jpg');")
    .col-md-7.col-md-offset-5.col-sm-8.col-sm-offset-4
      .contents.light-bgcolor
        p.text-md At each step in the design process, our preferred supplier for design DesignworksUSA (BMW Group) uses a combination of 2D and 3D design tools to explore, define and recommend a clear and appropriate design solution for the intended Government unique flight missions, cultural perspective and expectations of a premium passenger experience at every touch point.
        .spacing.sp-vertical.sp-sm
  .sl-slide.background-full(style="background-image:url('assets/misc/demo02/section-06.jpg');")
    .col-md-7.col-md-offset-5.col-sm-8.col-sm-offset-4
      .contents.light-bgcolor
        p.text-md Although the interior of an aircraft defines the needs of its user, the exterior makes the first impression. An appropriate exterior design should suitably express and reflect the personality of a Head of State while maintaining the essence of aerodynamic movement. DesignworksUSA (BMW Group) provides different exterior design proposals seamlessly connected with the interior design so that the whole aircraft is seen as one unique unit. 
        .spacing.sp-vertical.sp-sm

  