.block.white-color.center.container-fluid
  .bg-fixed
    .background-full.zoomClass.bg-texture(style="background-image:url('assets/misc/demo02/section-03.jpg');")
      .bg
  .row
    //- .col-sm-8.col-sm-offset-2
    .column-1
      .spacing.sp-vertical.sp-lg
      //- h1.sans-2.text-sm.from-top.anim-slow.anim-far.anim Si el Chef Ramsay examinara tu empresa…
      img.img.from-bottom.anim-slow.anim-far.anim(src="assets/misc/demo02/logo.png",alt="")
      .spacing.sp-vertical.sp-md
      //- h3.serif-2.from-top.anim-slow.anim-far.anim 
      //-   i ¿...crees que pasaría la prueba?
      //- a.btn.btn-bordered.btn-md.from-left.anim-slow.anim.icon-show(href="#section2",data-scroll="true") Tell me more
        span.icon-right.fa.fa-star
  //- .next-up
  //-   a.btn.btn-circle.btn-sm.btn-bordered.from-top.anim-slow.anim(href='#section2',data-scroll="true")
  //-     span.glyphicon.glyphicon-chevron-down