.block.container-fluid.center.lightgray-bgcolor
  //- BACKGROUND IMAGE, must be placed inside ".bg-img" container for absoute position and positioned with ".bg-right" ".bg-top", etc. 
  .bg-img.bg-left.bg-top.from-left.anim-slow.anim-far.anim
    img(src="assets/misc/demo02/planeline2.png",alt="")
  .bg-img.bg-right.bg-bottom.from-right.anim-slow.anim-far.anim
    img(src="assets/misc/demo02/planeline.png",alt="")
  .column-1
    p Thanks to a well-connected international network, GALISTEO Infinite Aviation provides rapid solutions for aircraft acquisition. At the client’s request, GALISTEO Infinite Aviation manages every step of the process of locating the required aircraft and offers clients a series of different options.
    p Because at GALISTEO we know that when a Government manifests the need to use a Head of State aircraft, the solution has to be provided in the shortest possible time. And this is why we strive day by day to maintain an updated database with available narrow and wide-body aircraft worldwide.