//- PORTFOLIO
.block.container-fluid.lightgray-bgcolor
  .row.center
    h2.sans-2.bold.line-between.dark-color Other Facts About Us
.block.container-fluid.block-wide.lightgray-bgcolor
  .row.portfolio.thumbs-wide
    //- .col-sm-2.center
    a.col-sm-4.yellow-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-01")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo02/section-01.jpg');")
        .bg
      .text-content
        h3.lined.light-color.title
          span.steady.icon-measure
          | Monument Manufacturing
        p
          .btn.btn-sm.btn-bordered Read
    a.col-sm-4.blue-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-02")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo02/section-04.jpg');")
        .bg
      .text-content
        h3.lined.light-color.title
          span.steady.icon-screen
          | Entertainment & Conectivity
        p
          .btn.btn-sm.btn-bordered Read
    a.col-sm-4.blue-bgcolor.thumb.zoomHover.center.accordion-show(href="#acc-03")
      .img.background-full.bg-alpha-dark(style="background-image:url('assets/misc/demo02/section-03.jpg');")
        .bg
      .text-content
        h3.lined.light-color.title
          span.steady.icon-refresh
          | Full Lifecycle Support
        p
          .btn.btn-sm.btn-bordered Read
    //- .col-sm-2.center
.accordion
  #acc-01.block.container-fluid.white-bgcolor.dark-color.accordion-container.acc-closed
    .row
      .column-1.acc-content
        h2.sans-2 Parts & Monument
          br
          span.accent-color.bold.uppercase Manufacturing
        p To translate an exceptional Head of State aircraft interior design into a truly astonishing and unique passenger experience, it is essential to manufacture each part and monument to the exact specifications outlined in the original design program.

        p Only the use of the most advanced technologies in aircraft parts and monuments manufacturing can assure a finished product in line with the superior luxury expectations of a Government aircraft.

        p GALISTEO Infinite Aviation only works with the best materials, the most prestigious companies in the world and a highly qualified team of professionals and technicians for Parts & Monuments manufacturing so that the highest quality standards are always met and exceeded.
  #acc-02.block.container-fluid.white-bgcolor.dark-color.accordion-container.acc-closed
    .row
      .column-1.acc-content
        h2.sans-2 Entertainment &
          br
          span.accent-color.bold.uppercase Conectivity
        p Because your office flies with you at all times, GALISTEO Infinite Aviation offers state-of-the-art connectivity in an open modular avionics platform to provide reliable, tailor-made and affordable services, from Enhanced EFB all the way through to Aircraft Connectivity and Wireless IFE.

        p.bold.sans-2 Wireless In-Flight Entertainment
        p Enjoy a Next-Generation Advanced (NGA) Wireless IFE system incorporating the latest new technologies in both hardware and software to provide a super-light, high-performance and multi-redundant system with 100% passenger concurrency.

        p.bold.sans-2 Aircraft Connectivity – On Ground & In Flight
        p Always stay connected with your aircraft via on-ground connectivity solutions (USB, Bluetooth, Wifi, WiMax) and in-flight connectivity solutions (L-band for instant messaging, Ku/Ka for full internet services).

        p.bold.sans-2 Enhance Electronic Flight Bag
        p Discover our affordable, scalable and certified Class 2/3 EFB system, which can optionally integrate aircraft engineering data and back-office processes while allowing real- time connectivity via Iridium®.

  #acc-03.block.container-fluid.white-bgcolor.dark-color.accordion-container.acc-closed
    .row
      .col-sm-6.acc-content
        h3.sans-2 Full Lifecycle
          br
          span.accent-color.bold.uppercase Support
        p A major concern for most VVIP aircraft owners is how to maintain operational capabilities while at the same time improving availability and cost-effectiveness.

        p Iberia addresses this challenge by offering a complete package of Full Lifecycle Support worldwide with the guarantee of a very experienced group in aircraft maintenance and AOG services around the world.
      .col-sm-6.acc-content
        h3.sans-2 Production
          br
          span.accent-color.bold.uppercase Shops
        p Thanks to our partnership with Iberia, GALISTEO Infinite Aviation has premises totalling 150,000m2 in Madrid (Spain) allowing us to undertake a full range of aircraft maintenance services. These facilities include the necessary back-up shops providing services for wide and narrow bodies.
        p With highly qualified teams of professionals and technicians, Iberia today is synonymous with quality, guarantee and commitment.


