//- MOCKUP
#section3.block.center.container-fluid
  .bg-fixed
    .background-full.bg-alpha-dark.zoomClass(style="background-image:url('assets/misc/demo02/plane.jpg');")
      .bg
  .row
    .column-1.center.white-color.from-top.anim-far.anim-slow.anim
      h1.lined Our Aircraft
      .spacing.sp-vertical.sp-sm
      //- img.img-full(src="assets/images/ipad-white.png",alt="")