#section2.block.container-fluid.white-color.main-bgcolor
  .row
    .col-sm-5.bg-fixed.slice-corner.slice-main
      .background-full.img-float(style="background-image:url('assets/misc/demo02/plane2.jpg');")
    .col-sm-7.col-sm-offset-5.from-right.anim
      .col-sm-11.col-sm-offset-1
        h2.sans-2 Galisteo Aviation,  
          br
          span.accent-color.bold.uppercase An Introduction 
        p.sans.text-sm When some of the best companies in the world join forces to bring an idea to life, the results can be astonishing and exceed all expectations.

        p.sans.text-sm This is the vision of GALISTEO Infinite Aviation, now entering the VIP & VVIP Completion Market and fusing all the experience, talent and superior practices of our recognized world leader partners & suppliers. And this is what ensures that we achieve the highest standards of luxury and functionality.
        h3
          a.btn.btn-bordered.icon-show.btn-md(href="mailto:barnes@galisteoaviation.com,abbad@galisteoaviation.com") Contact With Us
            span.icon-right.fa.fa-chevron-right

//- MOCKUP
.block.center.container-fluid.bg-fixed.background-full.bg-alpha-dark#sectionmockup(style="background-image:url('assets/misc/demo02/section-01.jpg');",data-stellar-background-ratio="0.5")
  .bg
  .row
    .column-1.center.white-color.from-top.anim-far.anim-slow.anim
      h3.lined Galisteo
      .spacing.sp-vertical.sp-sm
      p.text-lg.serif-2
        i Our mission is simple but unique: to achieve client satisfaction, by converting inspiration into concepts, and making every concept a reality.
      .spacing.sp-vertical.sp-sm
      //- img.img-full(src="assets/images/ipad-white.png",alt="")
  .diamond-size-md.half-diamond.from-bottom.anim-far.anim
    a.diamond.light-color.main-bgcolor(href="#sectionDetails",data-scrollTo="true")
      .content
        h4.sans.uppercase.bold Details
        span.glyphicon.glyphicon-chevron-down

#sectionDetails.block.container-fluid.light-bgcolor
  .row
    .col-md-7.col-sm-8.col-xs-12.from-left.anim
      h2.sans-2 Main partners  
          br
          span.accent-color.bold.uppercase & suppliers 
      p Designing and completing luxury interiors for Head of State aircraft requires a clear understanding of government needs and tastes, and the skills to successfully complete every single step of a multidisciplinary project.

      p This is the outlook of GALISTEO Infinite Aviation, a company that specifically combines the expertise of world leader partners & suppliers in every single discipline to assure the success of every project we undertake.
      .row 
        .col-md-4.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-graph.icon-left
            | Iberia Maintenance
          p.text-sm  As one of the top leaders in MRO activities worldwide.
        .col-md-4.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-bones.icon-left
            | Altran
          p.text-sm Global leader in Engineering, Certification and Operations consultancy. Altran is Airbus Group Preferred Supplier (type A) of Engineering Services.
        .col-md-4.col-sm-12
          h3.sans-2.bold.lined-left
            //- span.steady.icon-bones.icon-left
            | BMW Group Designworks USA
          p.text-sm For Creative Design of total luxury and functional A/C interiors.
    .col-md-5.col-md-offset-7.col-sm-4.col-sm-offset-8.col-xs-hidden.slice-corner.slice-left.slice-light.bg-fixed.slice-corner.slice-left.slice-light.bg-fixed
      .background-full.img-float(style="background-image:url('assets/misc/demo02/section-03.jpg');")