#section4.block.lightgray-bgcolor.container-fluid.icons-block.team-block
  .row
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/juan-jose-mesia.jpg');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="http://es.linkedin.com/pub/juan-jos%C3%A9-mes%C3%ADa/a/481/862/es",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:mesia@galisteoaviation.com") Contact
            span.icon-right.fa.fa-envelope
          
        //- span.steady.icon-battery-25.light-color.anim.anim-rotate
      .text-container
        p.sans-2.uppercase.bolder
          i Juan José Mesía
        p.sans.text-sm.second-line.uppercase Co-founder, executive partner and president
        p.text-sm Originally from Spain but educated in the United States and Belgium, Juan Jose holds a Bachelor of Economics from Boston University and an MBA from the University of Louvain, Belgium.
        p.text-sm He has held senior positions in many different sectors and as a natural entrepreneur he has been involved in many start-up companies, gaining extensive know-how in doing international business.
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/concepcion-castillejo.jpg');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="http://es.linkedin.com/pub/concepci%C3%B3n-castillejo/b/b76/108",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:castillejo@galisteoaviation.com") Contact
            span.icon-right.fa.fa-envelope
      .text-container
        p.sans-2.uppercase.bolder
          i Concha Castillejo
        p.sans.text-sm.second-line.uppercase Co-founder, executive partner and vice-president
        p.text-sm Born in Valencia, Concha graduated in Law from the University of Valencia and later earned an MBA from Antonio de Nebrija University, going on to postgraduate and doctorate courses, with a Certificate of Research Proficiency.

        p.text-sm She has served on the Boards of Directors of many companies, including a corporate aviation corporation, having performed duties with a high level of responsibility (general management) in Spain, Brazil, the Dominican Republic, Mexico and the USA.
  .row
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/oscar-barnes.png');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="https://es.linkedin.com/pub/oscar-barn%C3%A9s-pereira/52/a90/383/en",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:barnes@galisteoaviation.com") Contact
            span.icon-right.fa.fa-envelope
      .text-container
        p.sans-2.uppercase.bolder
          i Oscar Barnés
        p.sans.text-sm.second-line.uppercase Head of company operations and global brand marketing 
        p.text-sm Spanish born and educated in Madrid, Oscar holds degrees in Sales and Marketing from the Chamber of Commerce of Madrid, a Masters Degree in Business Administration and specializes in Aeronautical Finance and Accounting. He also has Private Pilot and Glider Licenses.

        p.text-sm He has held a variety of top positions in the aviation industry and speaks fluent English and Spanish.
    .col-sm-12.col-md-6.icon-block.dark-color.icon-bgcolor
      .icon-container.background-full(style="background-image:url('/assets/misc/demo02/raffael-abad.png');")
        .team-links
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="https://www.linkedin.com/profile/view?id=184725163",target="_blank") Linkedin
            span.icon-right.fa.fa-linkedin
          a.btn.btn-block.btn-bordered.sans-2.btn-dark.icon-show.btn-stretch(href="mailto:abbad@galisteoaviation.com") Contact
            span.icon-right.fa.fa-envelope
      .text-container
        p.sans-2.uppercase.bolder
          i Rafael de Abbad-Bordiu
        p.sans.text-sm.second-line.uppercase Responsible for the company's global expansion 
        p.text-sm Rafael is from Spain but was educated in Miami, FL, and then in the UK, where he completed a Bachelor of Arts, majoring in Business Administration at the University of Wolverhampton and a Master’s Degree in Aeronautical Management in Santiago de Chile.

        p.text-sm He has held senior positions in the commercial, cargo and executive aviation sectors.