//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .col-sm-12
        p.text-sm.center © 2015 Emoconect
          | · 
          a.light-color(href="") Contact