//-
  nav.navbar.nav-transparent.navbar-fixed-top.light-color
    .container-fluid
      //- Brand and toggle
      .navbar-header.nav-headerboxed.main-bgcolor
        a.navbar-brand(href="#section2",data-scroll="true")
          img.brand(src="assets/misc/demo08/logo2.png")


      
      .collapse.navbar-collapse.sans.uppercase
        
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#section2",data-scrollTo="true").sans-2.lighter
              i  Nuestro blog
          li
            a.btn.btn-main.btn-sm.icon-show.lighter(href="#")
              i.sans-2 Busca tu foto
              span.icon-right.fa.fa-search
nav.navbar.nav-transparent.navbar-fixed-top.light-color.nav-brandBigCentered.nav-nochange
  .container-fluid
    //- Brand and toggle
    .navbar-header
      a.navbar-brand(href="#topbanner",data-scrollTo="true")
        .spacing.sp-vertical.sp-md
        img.brand(src="assets/misc/demo08/logo2.png")
        .spacing.sp-vertical.sp-md