.sidebar.dark-bgcolor
  .close-view.light-color
    a.sans(href="#",data-toggle="sidebar") +
  .block
    .row
      .col-xs-12.center
        .brand
          img.img-full(src="assets/misc/demo02/logo.png")
        .spacing.sp-md
        .side-menu
          ul#main-nav.main-nav.nav-menu.nav-lined.light-color.align-left
            li
              a(href="#section2",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic 简介
            li
              a(href="#section3",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic 我们的 飞行器
            li
              a(href="#section4",data-toggle="sidebar",data-scrollTo="true")
                p.sans-2.uppercase.italic 我们的 团队
            li
              a(href="http://galisteoaviation.com/galisteo.pdf",target="_blank")
                p.sans-2.uppercase.italic 介绍
            li
              a(href="mailto:barnes@galisteoaviation.com,abbad@galisteoaviation.com")
                p.sans-2.uppercase.italic 联系方式