.sidebar.main-bgcolor
  .close-view.light-color
    a.sans(href="#",data-toggle="sidebar") +
  .block
    .row
      .col-xs-11.col-xs-offset-1.col-sm-12.center
        .brand
          h3.sans-2.uppercase.lighter.light-color PlayGrown
        .spacing.sp-md
        ul.nav-menu.nav-lined.light-color.align-left
          li
            a(href="")
              p.sans-2.uppercase.bold Home
          li
            a.active(href="")
              p.sans-2.uppercase.bold Gallery
            ul.sub-items
              li
                a(href="")
                  p.sans-2.light Sub section
              li
                a(href="")
                  p.sans-2.light Another section
          li
            a(href="")
              p.sans-2.uppercase.bold Contact
          li
            a(href="")
              p.sans-2.uppercase.bold Portfolio
  //-
    .sidebar-footer
      .block.alphablack-bgcolor.light-color
        .row
          .block-1.center
            p.text-sm @2014 PlayGrownd