//- FOOTER
footer
  .container-fluid.block-wide.gray-color
    //- FIRST FOOTER
    .row.lightgray-bgcolor#mainfooter
      .container
        .row.center
          p.text-sm.dark-color Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          .spacing.sp-sm
          .col-xs-12.col-sm-3
            a(href="http://galisteoaviation.com/")
              img.img(src="assets/misc/demo02/logo.png")
          .col-xs-4.col-sm-3
            a(href="http://www.iberiamaintenance.com/",target="_blank")
              img.img(src="/assets/misc/demo02/iberia.png")
          .col-xs-4.col-sm-3
            a(href="http://www.altran.es/",target="_blank")
              img.img(src="/assets/misc/demo02/altran.png")
          .col-xs-4.col-sm-3
            a(href="http://designworksusa.com/",target="_blank")
              img.img(src="/assets/misc/demo02/bmw.png")
//- FOOTER
footer
  .container-fluid.block-wide.light-color
    //- FIRST FOOTER
    .row.dark-bgcolor#mainfooter.withmap
      .col-sm-8
        .col-sm-3.col-sm-offset-1
          img.brand.hidden-xs(src="assets/misc/demo06/logobn.png")
        .col-sm-3
          p.text-small Síguenos
          p.social-icons
            a(href="")
              span.fa.fa-facebook
            a(href="")
              span.fa.fa-twitter
            a(href="")
              span.fa.fa-github
            a(href="")
              span.fa.fa-instagram
            a(href="")
              span.fa.fa-dribbble
            a(href="")
              span.fa.fa-wordpress
        .col-sm-4
          p.text-small Ven a visitarnos
          p.sans.small Bueninvento
            | Calle Gascó Oliag 8, 8
            | 46010 Valencia
            | Fijo : 96 361 57 13
            | Móvil : 690 708 181
            | bueninvento@bueninvento.es
      .col-sm-4.map.background-full(style="background-image:url('assets/images/map.png')")
    //- SECOND FOOTER
    .row.main-bgcolor#subfooter
      .bg-img.bg-left.bg-bottom.hidden-xs#robots
        img(src="assets/misc/demo06/robots.png",alt="")
      .col-sm-8
        p.text-sm.center © 2015 Tech4Toys
          | · 
          a.light-color(href="") Privacy 
          | · 
          a.light-color(href="") Contact
      a.btn.btn-block.btn-main-dark.col-sm-4.btn-square(href="")
        h4
          span.sans.bolder Escríbenos
          span.icon-right.glyphicon.glyphicon-chevron-right
