nav.navbar.nav-transparent.navbar-fixed-top.light-color.nav-brandBigCentered.nav-nochange
  .container-fluid
    //- Brand and toggle
    .navbar-header
      a.navbar-brand(href="#section2",data-scroll="true")
        .spacing.sp-vertical.sp-md
        img.brand(src="assets/misc/demo06/logo.png")
        .spacing.sp-vertical.sp-md
    ul.nav.navbar-nav.hidden-xs#nav-left
      li
        a.link.lighter(href="http://google.com",data-toggle="sidebar")
          span.uppercase Casos
      li
        a.link.lighter(href="http://google.com",data-toggle="sidebar")
          span.uppercase El juguete digital
    ul.nav.navbar-nav.navbar-right.hidden-xs
      li
        a.btn.btn-gradient.btn-orange.btn-sm.icon-show.lighter(href="http://google.com",data-toggle="sidebar")
          span Contact With Us
          span.icon-right.fa.fa-envelope
    ul.nav.navbar-nav.navbar-right.visible-xs
      li
        a.light-color.link(href="#",data-toggle="sidebar")
          i.fa.fa-bars.fa-2x