//- BLOG
.block.container-fluid.background-full.posts-block.bg-alpha-dark(style="background-image:url('assets/images/background-full.png')")
  .bg
  .row
    .col-md-9.col-sm-12.light-color
      h1.sans.uppercase.bolder Make It Real And Beautiful
      h3 Don't lose time and let for our theme the dirty work
    .col-md-3.col-sm-12
      .spacing.sp-vertical.sp-sm2.hidden-sm
      a.btn.btn-bordered.btn-md.btn-round(href="#") Create your story
    .col-sm-12
      .cards
        a.cathegory.red-bgcolor.light-color.sans.uppercase.bold #Cathegory
        .card.background-full(style="background-image:url('assets/images/background-full.png')")
          .card-body.dark-color
            .col-sm-8
              h3.sans.bolder.uppercase Maecenas sed diam eget rius
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
          .card-footer
            a.btn.btn-md.btn-dark.btn-square(href="") Next element
              span.light-color.glyphicon.glyphicon-chevron-right
        .other-cards
          .each-other
            .each-other

