a.block.container-fluid.dark-bgcolor.light-color(href="")
  .row
    .col-sm-8
      p.sans-2.gray-color Another kind of subtitle and small caption
    .col-sm-4
      p.bold.uppercase
        span.sans Create your story
        span.icon-right.glyphicon.glyphicon-chevron-right