//- CALL TO ACTION 2
a.block.container-fluid(href="")
  .row
    .col-sm-12.center
      h3.bolder.uppercase
        span.sans Create your story
        span.icon-right.glyphicon.glyphicon-chevron-right
