.block.container-fluid.background-full.bg-alpha-main.bg-fixed(style="background-image:url('assets/images/background-full.png');")
  .bg
  .row
    .col-sm-10.col-sm-offset-1.center
      h2.sans-2.bolder.uppercase.light-color.line-between.anim.from-bottom ¿Lorem ipsum dolor sit amet?
      .spacing.sp-vertical.sp-sm
    .col-sm-10.col-sm-offset-1
      form.form-inline.form-big.center
        .form-group
          label.sr-only(for="") Tu nombre
          input.form-control(placeholder="Tu nombre",type="text")
        .form-group
          label.sr-only(for="") Tu email
          input.form-control(placeholder="Tu email",type="email")
        button.btn.btn-md.serif.btn-main(type="submit") Accede