.block.block-full.light-color.center.container-fluid.background-full.bg-alpha-dark(style="background-image:url('assets/images/background-full.png')")
  .bg
  .row
    //- .col-sm-8.col-sm-offset-2
    .column-1
      h4.sans You have the idea
      h1.sans.uppercase.bolder Make It Real And Beautiful
      .spacing.sp-vertical.sp-sm
      h3 Don't lose time and let for our theme the dirty work
      .spacing.sp-vertical.sp-sm
      .btn.btn-bordered.btn-md Tell me more
  .next-up
    .btn.btn-circle.btn-sm.btn-bordered
      span.glyphicon.glyphicon-chevron-down