.block.lightgray-bgcolor.container-fluid.icons-block
  .row
    .col-sm-6.display-table.icon-block
      .icon-container.display-cell.yellow-bgcolor
        img(src="assets/images/icon.png",alt="")
      .text-container.display-cell
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .col-sm-6.display-table.icon-block
      .icon-container.display-cell.blue-bgcolor.icon-block
        img(src="assets/images/icon.png",alt="")
      .text-container.display-cell
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .col-sm-6.display-table.icon-block
      .icon-container.display-cell.green-bgcolor.icon-block
        img(src="assets/images/icon.png",alt="")
      .text-container.display-cell
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .col-sm-6.display-table.icon-block
      .icon-container.display-cell.red-bgcolor.icon-block
        img(src="assets/images/icon.png",alt="")
      .text-container.display-cell
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.