.block.lightgray-bgcolor.container-fluid.icons-block
  .row
    //- p.text-lg.serif-2.center
    //-   i Nuestra vocación es resultarte de utilidad, marcar un antes y un después en tu empresa, por eso te ofrecemos un servicio de calidad ajustado a tus necesidades
    //- .spacing.sp-vertical.sp-sm.visible-xs
    .col-sm-6.icon-block.dark-color.icon-bgcolor
      .icon-container.pink-bgcolor.from-center.anim-far.anim-slow.anim
        span.steady.icon-battery-25.light-color.anim.anim-rotate
      .text-container
        p.text-lg.sans-2.uppercase.bolder
          i Tengo recursos pero no tiempo
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        p 
          .btn.btn-bordered.uppercase.bold.btn-dark.icon-show.btn-stretch Pack candy
            span.icon-right.fa.fa-star
    .col-sm-6.icon-block.dark-color.icon-bgcolor
      .icon-container.green-bgcolor.from-center.anim-far.anim-slow-2.anim
        span.steady.icon-clock.light-color.anim.anim-rotate
      .text-container
        p.text-lg.sans-2.uppercase.bolder
          i Tengo recursos pero no tiempo
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        p 
          .btn.btn-bordered.sans-2.uppercase.bold.btn-dark Pack candy
  .row
    .col-sm-6.icon-block.dark-color.icon-bgcolor
      .icon-container.blue-bgcolor.from-center.anim-far.anim-slow.anim
        span.steady.icon-bill.light-color.anim.anim-rotate
      .text-container
        p.text-lg.sans-2.uppercase.bolder
          i Tengo recursos pero no tiempo
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        p 
          .btn.btn-bordered.sans-2.uppercase.bold.btn-dark Pack candy
    .col-sm-6.icon-block.dark-color.icon-bgcolor
      .icon-container.purple-bgcolor.from-center.anim-far.anim-slow-4.anim
        span.steady.icon-diamond.light-color.anim.anim-rotate
      .text-container
        p.text-lg.sans-2.uppercase.bolder
          i Tengo recursos pero no tiempo
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        p 
          .btn.btn-bordered.sans-2.uppercase.bold.btn-dark Pack candy