//- MOCKUP
.block.center.container-fluid.dark-bgcolor.bg-blur
  .bg(style="background-image:url('assets/images/background-full.png');")
  .row
    .col-sm-6.col-sm-offset-3.center.light-color
      h3.lined Lorem, ipsum
      .spacing.sp-vertical.sp-sm
      img.img-full(src="assets/images/ipad-white.png",alt="")