//- PORTFOLIO
.block.container-fluid
  .row.center
    h2.sans-2.bold Maecenas sed diam eget risus
.block.container-fluid.block-wide
  .row.portfolio
    .col-sm-2.center
      .row.green-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .row.purple-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
    .col-sm-8.center
      .col-sm-4.yellow-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .col-sm-4.blue-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .col-sm-4.pink-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .col-sm-4.red-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .col-sm-4.green-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .col-sm-4.purple-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
    .col-sm-2.center
      .row.blue-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")
      .row.yellow-bgcolor.thumb
        img(src="assets/images/icon.png",alt="")


