.diamond-size-md
  a.diamond.light-color(style="background-image:url('assets/images/background-full.png');",href="")
    .content
      h4.sans.uppercase.bold Call to action
      span.glyphicon.glyphicon-chevron-down