.block.container-fluid.light-color.main-bgcolor
  .row
    .col-sm-5.background-full.img-float.slice-corner.slice-main(style="background-image:url('http://3.bp.blogspot.com/-oKqDLs8j8NI/UWHA--0IL9I/AAAAAAAAGWo/TkaMo3Q-Sdo/s1600/ggffg.jpg');")
    .col-sm-7.col-sm-offset-5
      h2.sans-2.bold.uppercase El 
        span.accent-color 89% de las empresas 
        br 
        | españolas no la superaría
      p.serif-2 Imagina una casa con acabados de lujo y perfectamente equipada, pero sin puerta ni ventanas. Absurdo, ¿no? Pues aunque resulte difícil de creer el mercado está repleto de productos perfectamente inútiles.