.block.center.container-fluid
  //- BACKGROUND IMAGE, must be placed inside ".bg-img" container for absoute position and positioned with ".bg-right" ".bg-top", etc. 
  .bg-img.bg-right.bg-bottom
    img(src="assets/images/background-right.png",alt="")
  .column-1
    h2.text-lg.bold.sans-2 Dedica tu tiempo 
      span.accent-color a tus clientes 
      | y déjanos el resto a nosotros
    p Sucede con demasiada frecuencia que las empresas se enfocan completamente a producto, descuidando otros aspectos relevantes del negocio, como es el estudio de sus potenciales clientes, tendencias del mercado, comportamiento de principales competidores, etc.
    include rhombus.jade