//- TIMELINE
.block.block-wide.container-fluid.dark-bgcolor.light-color.timeline
  .line
  .row
    .step.col-sm-3
      .upside
        .icon.center
          img(src="assets/images/logo1.png",alt="")
      .milestone
      .downside
        p.sans.small.lightgray-color Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .step.col-sm-3
      .upside
        .icon.center
          img(src="assets/images/logo2.png",alt="")
      .milestone
      .downside
        p.sans.small.lightgray-color Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .step.col-sm-3
      .upside
        .icon.center
          img(src="assets/images/logo3.png",alt="")
      .milestone
      .downside
        p.sans.small.lightgray-color Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.
    .step.col-sm-3
      .upside
        .icon.center
          img(src="assets/images/logo1.png",alt="")
      .milestone
      .downside
        p.sans.small.lightgray-color Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.